/* 요기서부터 위에껀 전부 날리면됩니다. */


main {
    width: 1040px;
    height: 100%;
    padding: 50px 30px;
    margin: 0 auto;
}

main>div:nth-child(1) {
    /* border-bottom: 2px solid yellow; */
    padding-bottom: 30px;
    height: 100%;
}

/* 스토어 span*/
main>div:nth-child(1)>span {
    font-size: 1.6rem;
    font-weight: bold;
}

/* .tab-list {
     position: static; 
    width: 100%; 
    background-color: rgba(255, 255, 255);
} */

main>div:nth-child(2) {
    width: 100%;
    margin-bottom: 50px;
}

main>div:nth-child(2)>ul {
    display: flex;
}

.tab-list>ul>li>a {
    color: white;
    display: block;
    width: 100%;

    line-height: 40px;

    text-align: center;

    font-size: 1.0667em;

}

main>div:nth-child(2)>ul>li>a:hover {
    color: darkgoldenrod;


}

/* main>div:nth-child(2)>ul>li:last-child:hover {
    border-right: 1px solid darkgoldenrod;

} */




main>div:nth-child(2)>ul>li {
    /* float: left; */
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;

    /* border-bottom: 1px solid orange; */
    /* border: 1px solid #ebebeb; */
    /* border-right: none; */

}

main>div:nth-child(2)>ul>li>a {
    border-bottom: 1px solid orange;
}

.storeTab.clicked {
    border: 1px solid orange;
    border-bottom: none;
}




main>div:nth-child(3)>ul>div:first-child {
    width: 100%;

    margin-bottom: 40px;


}

main>div:nth-child(3)>h3 {

    font-size: 1.6rem;
    font-weight: normal;
}


/* 카드 랩퍼 */
main>div:nth-child(3) {

    margin-top: 30px;
    /* width: 100%;
    display: flex; */
}

/* 카드 스타일 */
main>div:nth-child(3)>ul {
    margin-top: 30px;

    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

main>div:nth-child(3)>ul>li {

    border-radius: 12px;
    width: 23%;

    margin-bottom: 40px;
    margin-right: calc(77px/3);
    /* margin-right: 26px; */
}

main>div:nth-child(3)>ul>li:nth-child(4n) {

    margin-right: 0;

}



/* 카드 이미지 div */
main>div:nth-child(3)>ul>li>a>div:nth-child(1) {
    width: 100%;
    height: 60%;
}

/* 카드 내 벨류의 순위 */
main>div:nth-child(3)>ul>li>div:nth-child(1)>span {
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 20px;
    line-height: 28px;
    font-size: 2rem;
    z-index: 1;
}

/* main>div:nth-child(2)>ul>li>div:nth-child(1)>a {
    display: flex;
} */





/* 카드 이미지 절대크기 */
main>div:nth-child(3)>ul>li>a>div:nth-child(1)>img {
    width: 225px;
    height: 187px;
    border-radius: 10px;
    position: relative;
}


main>div:nth-child(3)>ul>li>div:nth-child(2) {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

main>div:nth-child(3)>ul>li>a>div:nth-child(2)>div:nth-child(1) {
    font-size: 1.5rem;
    margin: 20px 0px;
    padding-left: 20px;
}

main>div:nth-child(3)>ul>li>a>div:nth-child(2)>div:nth-child(1)>p {
    padding-top: 8px;
    font-size: 0.8rem;

}


main>div:nth-child(3)>ul>li>a>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin: 20px 0;
    font-size: 0.9rem;
    padding-left: 20px;
}

main>div:nth-child(3)>ul>li>div:nth-child(2)>div>p:nth-child(1) {
    width: 40%;
    margin-right: 20px;
}

main>div:nth-child(3)>ul>li>div:nth-child(3) {
    display: flex;
}