* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    list-style-type: none;
    color: #FCFCFC;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none"

}

* a {
    text-decoration: none;
    color: #a3a3a3;
}

body {
    background-color: rgb(32, 32, 32);
}

header {
    display: flex;
    flex-direction: column;
}

header>div:last-child {
    height: 50px;
    width: 1040px;
    padding: 0 30px;
    position: absolute;
    left: 28%;
}


header>section:nth-child(1) {
    width: 1040px;
    height: 113px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}

/* 로고에어리어 */
.logo-section {
    width: 28%;
    height: 100%;
    display: flex;
}

/* 로고에어리어 이미지div */
.logo-section>div:nth-child(1) {
    width: 117px;
    display: flex;
}

/* 로고에어리어 이미지 사이즈*/
.logo-section>div:nth-child(1)>a {
    flex: 1 1 0;
    display: flex;
}

/* 이미지 사이즈 강제 안넘어가게설정하기*/
.logo-section>div:nth-child(1)>a>img {
    flex: 1 1 0;
}

/* 헤드 첫번째섹션 khtheater */
.logo-section>span {
    display: flex;
    align-items: flex-end;
    letter-spacing: 5px;
    font-weight: 300;
}

/* 광고, 멤버랩 */
.memberInfo_wrap {
    width: 46.5%;
    display: flex;
}

/* 광고, 멤버 UL */
.memberInfo_wrap>ul {
    width: 100%;
    height: 57px;
    display: flex;
    align-items: center;

}

/* 광고이미지 wrapper */
.memberInfo_wrap>ul>div {
    width: 30%;
    height: 39px;
    display: flex;
}

/* 이미지 사이즈 */
.memberInfo_wrap>ul>div>img {
    flex: 1 1 0;
}

.memberInfo_wrap>ul>li>a {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

}

.memberInfo_wrap>ul>li>a>span:nth-child(1)>img {
    width: 28px;
    height: 32px;
}

.memberInfo_wrap>ul>li>a * {
    display: flex;
    justify-content: center;

}

.memberInfo_wrap>ul>li>a *:hover {
    color: white;
}

.memberInfo_wrap>ul>li>a>span>i {
    font-size: 2rem;
}

.memberInfo_wrap>ul>li>a>span:nth-child(2) {
    font-size: 13px;
    padding: 3px 0;
    font-weight: 400;
    color: #a3a3a3;
}



header>nav>div:nth-child(1) {
    width: 1040px;
    height: 50px;
    padding: 5px 30px 0px 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

header>nav>div>ul {
    display: flex;
    line-height: 38px;
}

header>nav>div>ul>li {
    padding-right: 50px;
    font-weight: bold;
}

header>nav ul>li>a {
    color: #FCFCFC;
}

header>nav>div>div {
    width: 30%;
    display: flex;
}

header>nav>div>div>form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

header>nav>div>div>form>input {
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-bottom: 10px;
    height: 45px;
    font-size: 15px;
}

header>nav>div>div>form button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    height: 36px;
    align-items: center;
    padding-bottom: 5px;
}

header>nav>div>div>form button>img {
    width: 25p;
    height: 25px;

}

header>nav {
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid rgb(255, 196, 0);
    border-top: 1px solid #a3a3a3;
    position: relative;
}

.navBar {
    /* width: 100px; */
    width: 120px;
    text-align: center;
}

.menuBar {
    z-index: 5;
    position: relative;
    margin-top: 10px;
    flex: 1 1 0;
    width: 125px;
    top: 7px;
}

.menuBar>li>a {
    flex: 1 1 0;
    line-height: 28px;
    display: flex;
    color: #a3a3a3;
    font-size: 1rem;
    flex: 1 1 0;
    height: 40px;
    line-height: 38px;
    font-weight: 300;
    /* 추가 */
    padding-left: 15px;
}


.menuBar>li>a:hover {
    color: rgb(255, 196, 0);
    font-weight:bold;
}



.navBar:nth-child(2)>.menuBar {
    display: flex;
    flex-direction: column;
}

.navBar:nth-child(4)>.menuBar {
    display: flex;
    flex-direction: column;
}

.navBar:nth-child(6)>.menuBar {
    display: flex;
    flex-direction: column;
}

.dummy {
    width: 100vw;
    height: 135px;
    background-color: rgba(21, 21, 21, 0.9);
    position: absolute;
    top: 49px;
    right: 0;
    z-index: 4;
    display: none;
}

.flx {
    display: flex;
}



footer {
    background-color: #191919;
}

footer>section {
    margin-top: 100px;
    width: 1040px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 30px;
}

footer>section>div:nth-child(1) {
    border-bottom: 1px solid #a3a3a3;
    background-color: #191919;
}

footer>section>div:nth-child(1)>ul {
    margin: 0 auto;
    display: flex;
    line-height: 67px;

}

footer>section>div:nth-child(1)>ul>li {
    padding-right: 20px;
    font-weight: bold;
}

footer>section>div:nth-child(1)>ul>li>a:hover {
    color: #FCFCFC;
}

footer>section>div:nth-child(1)>ul>span {
    padding-right: 20px;
}

footer>section>div:nth-child(2) {
    padding: 20px 0;
    font-weight: 200;
    display: flex;
    flex-direction: column;

}

footer>section>div:nth-child(2) span:first-child {
    margin-bottom: 13px;
    font-weight: 500;

}

footer>section>div:nth-child(2) span:last-child {
    font-size: 0.7rem;
    padding: 5px 0;
}

/* =============================================================== */
/* 아래부터 추가하세요. */

.modal {
    position: absolute;
    display: none;
    /* Hidden by default */
    z-index: 99;
    /* Sit on top */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    top: -1%;
}

.modal-content {
    width: 500px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    top: 30%;

}

.close-button {
    color: white;
    float: right;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(21, 21, 21);
    text-align: right;
    line-height: 40px;
}

.close-button:hover,
.close-button:focus {
    color: yellow;
    text-decoration: none;
    cursor: pointer;
}

a * {
    cursor: pointer
}