@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: "GmarketSansMedium";
    color: rgb(222, 222, 222);
    list-style-type: none;
}

* a {
    text-decoration: none;
    color: rgb(222, 222, 222);
}


body {
    background-color: rgb(33, 33, 33);
}

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

/* 헤더 */
header {
    width: 100%;
    padding: 40px 0 0 0;
}

/* 헤더내부 위쪽 섹션 */
header>section:nth-child(1) {
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

/* 로고에어리어 */
header>section:nth-child(1)>div:nth-child(1) {
    width: 35%;
    height: 100%;
    display: flex;
}

/* 로고에어리어 이미지div */
header>section:nth-child(1)>div:nth-child(1)>div:first-child {
    width: 40%;
    display: flex;
    align-items: center;
}

/* 로고에어리어 이미지 사이즈*/
header>section:nth-child(1)>div:nth-child(1)>div:first-child>a>img {
    width: 160px;
    height: 70px;
}

/* 헤드 첫번째섹션 khtheater */
header>section:nth-child(1)>div:nth-child(1)>div:last-child {
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 40px;
}

/* 헤드 첫번째 섹션 왼쪽부분 */
header>section:nth-child(1)>div:nth-child(2) {
    width: 45%;
    display: flex;
}

/* 헤더 광고 에어리어*/
header>section:nth-child(1)>div:nth-child(2)>div:nth-child(1) {
    width: 40%;
    display: flex;
    align-items: center;
}

/* 헤더 내정보, 로그인, 고객센터 Ul*/
header>section:nth-child(1)>div:nth-child(2)>ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:0.rem;
}

/* 리스트 */
header>section:nth-child(1)>div:nth-child(2)>ul>li {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*리스트 내부 속성*/
header>section:nth-child(1)>div:nth-child(2)>ul>li>* {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

/* 리스트 내부 스타일*/
header>section:nth-child(1)>div:nth-child(2)>ul>li>*>span {
    font-size: 1.5rem;
    margin: 0 auto;
}

/* 리스트 내부 Ptag*/
header>section:nth-child(1)>div:nth-child(2)>ul>li>*>p {
    text-align: center;
}

header>nav {
    width: 100%;
    height: 60px;
    border-top: 1px solid rgb(99, 99, 99);
    border-bottom: 1px solid rgb(99, 99, 99);
    display: flex;

}

header>nav>div {
    width: 1160px;
    height: 60px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header>nav ul {
    display: flex;
    line-height: 58px;

}

header>nav ul>li {
    padding-right: 50px;
    font-weight: bold;
}

header>nav ul>li:nth-child(3)>a {
    color: red;
}

header>nav>div>div {
    width: 30%;
    display: flex;
}

header>nav>div>div>form {
    width: 100%;
    display: flex;
    align-items: center;
    border-left: 1px solid rgb(99, 99, 99);
    border-right: 1px solid rgb(99, 99, 99);
}

header>nav>div>div>form>input {
    width: 80%;
    background-color: transparent;
    border: none;

    outline: none;
    padding-left: 10px;
    height: 80%;
}

header>nav>div>div>form button {
    width: 20%;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;

}

header>nav ul>li>a:hover {
    color: rgb(237, 49, 36);
}

footer>section {
    height: 200px;
    display: flex;
    flex-direction: column;
}

footer>section>div:nth-child(1) {

    height: 30%;

    border-top: 1px solid rgb(99, 99, 99);
    border-bottom: 1px solid rgb(99, 99, 99);

}

footer>section>div:nth-child(1)>ul {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    line-height: 58px;
    padding: 0 20px;
}

footer>section>div:nth-child(1)>ul>li {
    padding-right: 20px;
    font-weight: bold;
}

footer>section>div:nth-child(1)>ul>li>a:hover {
    color: rgb(200, 200, 200)
}

footer>section>div:nth-child(1)>ul>span {
    padding-right: 20px;
}

footer>section>div:nth-child(2) {
    width: 1160px;
    margin: 0 auto;
    height: 70%;
    padding: 20px 0 0 20px;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}

footer>section>div:nth-child(2) span {
    margin-bottom: 3px;
}

footer>section>div:nth-child(2) span:first-child {
    margin-bottom: 13px;
    font-weight: 500;
}

footer>section>div:nth-child(2) span:last-child {
    font-size: 0.7rem;
    margin-top: 13px;
}


/* 첫번째 섹션 ( 이미지 스크린 )  */
main>section:nth-child(1) {
    width: 100%;
    background-color: black;
}

main>section:nth-child(1)>div:nth-child(1) {
    width: 1160px;
    height: 500px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

main>section:nth-child(1)>div:nth-child(1)>a {
    margin: 0 auto;
}

main>section:nth-child(1)>div:nth-child(1) img {
    width: 1120px;
    height: 500px;

}


/* 두번째 섹션의 상단부div */
main>section:nth-child(2) {
    width: 100%;
}

main>section:nth-child(2)>div:nth-child(1) {
    padding: 40px 20px;
    margin: 0 auto;
    width: 1160px;
    display: flex;
    flex-direction: column;
}

main>section:nth-child(2)>div>div:nth-child(1) {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main>section:nth-child(2)>div>div:nth-child(1)>div:nth-child(1) * {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 30px;
}

main>section:nth-child(2)>div>div:nth-child(1)>div:nth-child(2) {
    width: 150px;
    height: 42px;
    border-radius: 15px;
    border: 2px solid rgb(99, 99, 99);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

main>section:nth-child(2)>div>div:nth-child(2) {
    height: 80%;
    display: flex;

}

main> section:nth-child(2) > div > div:nth-child(2) > ol {
    display: flex;
}

main> section:nth-child(2) > div > div:nth-child(2) > ol > li {
    margin: 30px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right:45px;
}

main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(1) {
    width: 100%;
    height: 80%;
}

main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(1)>span {
    position: absolute;
    width:30px;
    height:30px;
    margin:20px;
    line-height: 28px;
    font-size: 2rem;
    z-index: 1;
   }

   main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(1)>a>img {
    width: 246px;
    height: 324px;
    border-radius: 10px;
    position: relative;
}
main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(2){
    margin-top:10px;
    display: flex;
    flex-direction: column;
}

/*  */
main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(2) > a {
    font-size: 1.5rem;
 }
/*  */

main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(2) > div {
    display: flex;
    align-items: center;
    margin:10px 0 ;
    font-size: 0.9rem;
 }

 main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(2) > div > p:nth-child(1) {
    width:42%;
   margin-right:16px;
 }

 main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(3) {
    display: flex;
 }

 main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(3) >button {
    height:40px;
    background-color: transparent;
    outline: none;
    border:1px solid lightgray;
    padding:0 5px;
    border-radius: 10px;
    cursor:pointer;
 }

 main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(3) >button:nth-child(1) {
    width:30%;
    margin-right:10px;
 }

 main> section:nth-child(2) > div > div:nth-child(2) > ol > li>div:nth-child(3) >button:nth-child(2) {
    width:70%;
    color:black;
    background-color: white;
 }


/* 세번재 섹션 이벤트세션 ------------------------------------------------------------------ */
main>section:nth-child(3) {
    width: 100%;
    background-color: black;
}

main>section:nth-child(3)>div:nth-child(1) {
    padding: 40px 20px;
    margin: 0 auto;
    width: 1160px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

main>section:nth-child(3)>div>div:nth-child(1) {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main>section:nth-child(3)>div>div:nth-child(1)>div:nth-child(1) * {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 30px;
}

main>section:nth-child(3)>div>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
}

main>section:nth-child(3)>div>div:nth-child(1)>div:nth-child(2)>div:first-child {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px solid rgb(99, 99, 99);
    margin-right: 10px;
    line-height: 40px;
    display: flex;
    justify-content: center;

}

main>section:nth-child(3)>div>div:nth-child(1)>div:nth-child(2)>div:last-child {
    width: 150px;
    height: 60%;
    border-radius: 15px;

    border: 2px solid rgb(99, 99, 99);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

main>section:nth-child(3)>div:nth-child(1)>div:nth-child(2) {
    display: flex;
}


main > section:nth-child(3) > div > div:nth-child(2){
    height:100%;
    display: flex;
}


main > section:nth-child(3) > div > div:nth-child(2) > ol{
    width:100%;
    height:100%;
    display: flex;
}


main > section:nth-child(3) > div > div:nth-child(2) > ol > li{
    width:31%;
    height:100%;
    display: flex;
    flex-direction: column;
    margin-right:41px;
}

main > section:nth-child(3) > div > div:nth-child(2) > ol > li > div:nth-child(1){
    display: flex;
    height:80%;
    flex-direction: column;
}
main > section:nth-child(3) > div > div:nth-child(2) > ol > li > div:nth-child(1) > a {
    display: flex;
}

main > section:nth-child(3) > div > div:nth-child(2) > ol > li > div:nth-child(1) > a > img{
    width:346px;
    height:278px;
    border:1px solid red;
    border-radius: 10%;
}

main > section:nth-child(3) > div > div:nth-child(2) > ol > li > div:nth-child(2){
    display: flex;
    height:20%;
    flex-direction: column;
}

main > section:nth-child(3) > div > div:nth-child(2) > ol > li > div:nth-child(2) > a {
    height:70%;
    text-align: center;
    line-height:46px;
    font-size: 1.5rem;
}

main > section:nth-child(3) > div > div:nth-child(2) > ol > li > div:nth-child(2) > div {
    height:30%;
    text-align: center;
}





/* 네번재 섹션 ------------------------------------------------------------------ */
main>section:nth-child(4) {
    width: 100%;
}

main>section:nth-child(4)>div:nth-child(1) {
    padding: 40px 20px;
    margin: 0 auto;
    width: 1160px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

main>section:nth-child(4)>div>div:nth-child(1) {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



main>section:nth-child(4)>div>div:nth-child(1)>div:nth-child(1) * {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 30px;
}

main>section:nth-child(4)>div>div:nth-child(1)>div:nth-child(2) {
    width: 150px;
    height: 50%;
    border-radius: 15px;
    border: 2px solid rgb(99, 99, 99);
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

main>section:nth-child(4)>div>div:nth-child(2) {
    width: 100%;
    display: flex;
    height: 80%;
    justify-content: space-between;
}

main>section:nth-child(4)>div>div:nth-child(2)>div:first-child {
    width: 49%;
    height: 100%;

}

main>section:nth-child(4)>div>div:nth-child(2)>div:first-child > a {
    display: flex;
}

main>section:nth-child(4)>div>div:nth-child(2)>div:first-child > a > img {
    width:548px;
    height:336px;
    border:1px solid red;
   border-radius: 10px;
}


main>section:nth-child(4)>div>div:nth-child(2)>div:last-child {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
 
}

main>section:nth-child(4)>div>div:nth-child(2)>div:last-child>a {
    width: 100%;
    height: 20%;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    padding:10px;
}

main>section:nth-child(4)>div>div:nth-child(2)>div:last-child>a:first-child {
    border-top: 1px solid lightgray;
}



main>section:nth-child(4)>div>div:nth-child(2)>div:last-child>a>div {
    flex: 1 1 0;
    display: flex;
    justify-content: space-between;
}

main>section:nth-child(4)>div>div:nth-child(2)>div:last-child>a>div>span:first-child {

    font-size: 1.5rem;
    
}

main>section:nth-child(4)>div>div:nth-child(2)>div:last-child>a>div>span:last-child {

    background-color: rgb(25,25,25);
    border-radius: 10px;
    font-size: 1rem;
    line-height:36.36px;
    
}

main > section:nth-child(5){
    width:100%;
    height:350px;
    background-color: black;
}


/* 섹션5번째 랩퍼 */
main > section:nth-child(5) > div{
    width:1160px;
    height:100%;
    margin:0 auto;
    padding:40px 20px;
    display: flex;
    justify-content: space-between;
}


/* 좌측랩퍼 암코리안탑클래스힙합모범노블레스.. */
main > section:nth-child(5) > div > div:nth-child(1){
    width:65%;
    border:1px solid lightgray;
    border-radius: 10px;
    padding:30px;
}

/* 공지사항 섹션랩퍼 */
main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(1){
    height:20%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
    margin-top:10px;
    padding-bottom:20px;
}

main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(1) > :nth-child(1){
    width:15%;
    font-size:1rem;
    font-weight: bold;

}

main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(1) > :nth-child(2){
    width:75%;
    font-size:1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
   
    
}

main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(1) > :nth-child(3){
    width:10%;
    border:1px solid lightgray;
    border-radius: 20px;
    text-align: center;
    padding:3px 10px;
    font-size:0.8rem;
}

main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(2) > :nth-child(1){
    width:15%;
    font-size:1rem;
    font-weight: bold;
}





/* 고객센터 섹션 */
main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(2){
    height:50%;
    display: flex;
    padding-top:20px;
    
}

main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(2) > :nth-child(2){
    height:60%;
    display: flex;
    flex-direction: column;
}

main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(2) > :nth-child(2) > p{
    font-weight: bold;
}
main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(2) > :nth-child(2) > span{
    font-weight: 100;
}


main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(3){
    height:20%;
    display: flex;
}

main > section:nth-child(5) > div > div:nth-child(1) > div:nth-child(3) > a{
    margin-right:15px;
    border-radius: 5px;
    height:85%;
    color:black;
    padding: 0 10px;
    cursor: pointer;
    background-color: lightgray;
    line-height: 40px;
}




/* 우측랩퍼 */
main > section:nth-child(5) > div > div:nth-child(2){
    width:30%;
    border:1px solid red;
    border-radius: 10px;
  
}

