/* 첫번째 영역 */
main>div:nth-child(1) {
    width: 100%;
    background-color: black;
    margin-top: 50px;
}

main>div:nth-child(1)>div {

    width: 1160px;
    padding:0 20px;
    height: 190px;
    margin: 0 auto;
    position: relative;
}


main>div:nth-child(1)>div > ul {
    display: flex;
    justify-content: center;
}

main>div:nth-child(1)>div > ul > li {
    padding:15px 15px;
    z-index: 1;
    }

main>div:nth-child(1)>div > ul > li > a {
    border-bottom: 1px solid white;
    font-size: 0.8rem;
}

main>div:nth-child(1)>div>img {
    width: 1120px;
    height:190px;
    position: absolute;
    top:0;
    z-index: 0;
    margin:0 auto;
}

main > div:nth-child(2){
    width: 100%;   
}

/* 두번째 영역 */
main > div:nth-child(2) > div {
    width:1160px;
    padding:50px 20px;
    height:150px;
    margin:0 auto;
    display: flex;
    justify-content: center;
}

main > div:nth-child(2) > div > span{
    flex: 1 1 0;
    text-align: center;
    line-height: 46px;
}
main > div:nth-child(2) > div > span:first-child{
    border:1px solid white;
   
}

main > div:nth-child(2) > div > span:nth-child(2){
    border-bottom:1px solid white;
   
}

main > div:nth-child(2) > div > span:last-child{
    border-bottom:1px solid white;
}

/* 세번째 영역 */
main > div:nth-child(3) {
    width:100%;
}

main > div:nth-child(3) > div {
    width: 1160px;
    padding:0 20px 50px 0;
    margin:0 auto;
    height:180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

main > div:nth-child(3) > div > strong {
    padding:10px;
    font-size: 1.5rem;
}
