@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1em;
    font-family: sans-serif;
    color: rgb(222,222,222);
    list-style-type: none;
}

* a {
    text-decoration: none;
    color: rgb(222,222,222);
}



body {
    background-color: rgb(33, 33, 33);
}

main {
    width: 1160px;
    height: 100vh;
    margin: 0 auto;

}

/* 헤더 */
header {
    width: 100%;
    padding: 40px 0;
}

/* 헤더내부 위쪽 섹션 */
header>section:nth-child(1) {
    width: 1160px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

}

/* 로고에어리어 */
header>section:nth-child(1)>div:nth-child(1) {
    width: 35%;
    height: 100%;
    display: flex;
}

/* 로고에어리어 이미지div */
header>section:nth-child(1)>div:nth-child(1)>div:first-child {
    width: 40%;
    display: flex;
    align-items: center;
}

/* 로고에어리어 이미지 사이즈*/
header>section:nth-child(1)>div:nth-child(1)>div:first-child>a>img {
    width: 160px;
    height: 70px;
}

/* 헤드 첫번째섹션 khtheater */
header>section:nth-child(1)>div:nth-child(1)>div:last-child {
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 40px;
}

/* 헤드 첫번째 섹션 왼쪽부분 */
header>section:nth-child(1)>div:nth-child(2) {
    width: 45%;
    display: flex;
}

/* 헤더 광고 에어리어*/
header>section:nth-child(1)>div:nth-child(2)>div:nth-child(1) {
    width: 40%;
    display: flex;
    align-items: center;
}

/* 헤더 내정보, 로그인, 고객센터 Ul*/
header>section:nth-child(1)>div:nth-child(2)>ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* 리스트 */
header>section:nth-child(1)>div:nth-child(2)>ul>li {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*리스트 내부 속성*/
header>section:nth-child(1)>div:nth-child(2)>ul>li>* {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

/* 리스트 내부 스타일*/
header>section:nth-child(1)>div:nth-child(2)>ul>li>*>span {
    font-size: 2rem;
    margin: 0 auto;
}

/* 리스트 내부 Ptag*/
header>section:nth-child(1)>div:nth-child(2)>ul>li>*>p {
    text-align: center;
}



header>nav {
    width: 100%;
    height: 60px;
    border-top: 1px solid rgb(99, 99, 99);
    border-bottom: 1px solid rgb(99, 99, 99);
    display: flex;
 
}

header>nav>div {
    width: 1160px;
    height: 60px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header>nav ul {
    display: flex;
    line-height: 58px;

}

header>nav ul>li {
    padding-right: 50px;
    font-weight: bold;
}

header>nav ul>li:nth-child(3)>a {
    color: red;
}

header>nav>div > div{
    width:30%;
    display: flex;
}

header>nav>div > div > form{
    width:100%;
    display: flex;
    align-items: center;
    border-left:1px solid rgb(99,99,99);
    border-right:1px solid rgb(99,99,99);
}

header>nav>div > div > form > input{
    width:80%;
    background-color: transparent;
    border:none;
 
    outline: none;
    padding-left:10px;
    height:80%;
}

header>nav>div > div > form button{
    width:20%;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
   
}



header>nav ul>li>a:hover {
    color: rgb(237, 49, 36);
}


footer>section {
    height: 200px;
    display: flex;
    flex-direction: column;
}

footer > section > div:nth-child(1){

    height:30%;

    border-top: 1px solid rgb(99, 99, 99);
    border-bottom: 1px solid rgb(99, 99, 99);

}


footer > section > div:nth-child(1) > ul{
    width:1160px;
    margin:0 auto;
   display: flex;
   line-height: 58px;
   padding : 0 20px;
}

footer > section > div:nth-child(1) > ul > li{
    padding-right: 20px;
    font-weight: bold;
 }

 footer > section > div:nth-child(1) > ul > li > a:hover{
    color:rgb(200,200,200)
 }

 footer > section > div:nth-child(1) > ul > span{
    padding-right: 20px;
 }
 



footer > section > div:nth-child(2){
    width:1160px;
    margin:0 auto;
    height:70%;
    padding:20px 0 0 20px;
    font-weight:200;
    display: flex;
    flex-direction: column;
}

footer > section > div:nth-child(2)  span{
    margin-bottom:3px;
}

footer > section > div:nth-child(2)  span:first-child{
    margin-bottom:13px;
    font-weight:500;
}

footer > section > div:nth-child(2)  span:last-child{
    font-size: 0.7rem;
    margin-top:13px;
}


