main>div:nth-child(1) {
    width: 100%;
    HEIGHT: 100%;
    background-color: black;
}

main>div:nth-child(1)>div {
    width: 980px;
    padding: 0 30px;
    margin: 0 auto;
    height: 300px;
    text-align: center;

}


.spanCLS{
    margin-top:50px;
    width:100%;
    height:100px;
    position: relative;
    z-index: 1;
    text-align: left;
}

.spanCLS p{
    font-size: 2.5rem;
    padding-bottom: 5px;
    font-weight: bold;
}

main>div:nth-child(1)>div>ul {
    display: flex;
    padding: 0 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    z-index: 1;
    position: relative;

}

main>div:nth-child(1)>div>ul>li {
    padding: 30px 50px;

}


main>div:nth-child(1) a {
    font-size: 1.3rem;
    font-weight: bold;
    color:white;
}

.topBg_imgarea ul li:nth-child(5) a {
    color:rgb(255, 196, 0) !important;
}

main>div:nth-child(1) a:hover {
    color: rgb(255, 196, 0);
    text-decoration: underline;
}




/* 두번째 영역 */

main>div:nth-child(2) {
    width: 100%;

}


main>div:nth-child(2)>div {
    width: 1040px;
    padding: 0 30px;
    margin: 0 auto;
}

.left_stheaterwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left_stheaterwrap span {
    font-size: 2rem;
    font-weight: bold;
}

.left_stheaterwrap span:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 100;
}



/* 3 */
main>div:nth-child(3) {
    height: 600px;
    padding: 50px 30px 10px 30px;
}

main>div:nth-child(3)>div {
    width: 1040px;
    padding: 0 30px;
    height: 100%;
    border-radius: 10px;
    background-image: url("../../images/imax_03.png");
    background-size: 100%;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;

}

main>div:nth-child(3)>div>img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

main>div:nth-child(3)>div>p {
    position: absolute;
    bottom: 60px;
    font-size: 2.5rem;
    left: 50px;
    font-weight: bold;
}



main>div:nth-child(4) {
    width: 100%;
    display: flex;
    align-items: center;
}


main>div:nth-child(4)>div:nth-child(1) {
    width: 1040px;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

main>div:nth-child(4)>div:nth-child(1)>div {
    width: 50%;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
}

main>div:nth-child(4)>div>img {
    height: 66%;

}

main>div:nth-child(4)>div>div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.explain {
    margin-top: 30px;
}

.explain p {
    font-size: 1.5rem
}



main>div:nth-child(5) {

    width: 100%;
    background-color: black;

}

main>div:nth-child(5) .left_stheaterwrap {
    margin-bottom: 0;
    padding-bottom: 0;
}

main>div:nth-child(5)>div {
    width: 1040px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
}

main>div:nth-child(5)>div>img {
    width: 480px;
    border-radius: 10px;
    padding: 0 5px;
}

main>div:nth-child(5)>div>p {
    position: absolute;
    bottom: 60px;
    font-size: 2.5rem;
    left: 50px;
    font-weight: bold;
}




main>div:nth-child(6) {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
}

main>div:nth-child(6)>div:nth-child(1) {
    width: 1040px;
    margin: 0 auto;
    padding: 0 30px;
}

main>div:nth-child(6) p {
    font-size: 2rem;
    padding: 30px 0;
}

.stheater_wrap {
    width: 100%;
    margin: 0 auto;
}

.stheater_wrap>ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 30px;

}

.stheater_wrap>ul>li {
    width: 25%;
    height: 60px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 10px;
    ;
    display: flex;
}

.stheater_wrap ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stheater_wrap ul li:hover {
    background-color: white;
}

.hovered {
    color: black;
}

.hovered span {
    color: black;
}



main>div:nth-child(7) {
    width: 100%;
    margin-bottom: 100px;
    background-color: black;
}

main>div:nth-child(7)>div:nth-child(1) {
    width: 1040px;
    margin: 0 auto;
    padding: 0 30px;
}

main>div:nth-child(7) p {
    font-size: 2rem;
    padding: 30px 0;
}

.top3-wrap {
    display: flex;
    width: 100%;
}

.top3-wrap div {
    width: 33%;
    display: flex;
    flex-direction: column;
}

.top3-wrap div a {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 0 auto;
}

.top3-wrap div img {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    border-radius: 10px;

}

.top3-wrap div button {
    width: 65%;
    height: 70px;
    margin: 20px auto;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.top3-wrap div button:hover {
    background-color: yellow;
}

.navBar:nth-child(2)>a:nth-child(1) {
    color: rgb(255, 196, 0);
}

.topBg_imgarea {
    position: relative;
    background-image: url('/movie/resources/images/teater_special/Featured-1068x580-1-2.png');
    background-repeat: no-repeat;
    background-position: center;

  }

  .topBg_imgarea::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(0,0,0,2) 0%, rgba(0,0,0,0) 90%, rgba(0,0,0,2) 100%), 
    url('/movie/resources/images/teater_special/Featured-1068x580-1-2.png');
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    z-index: 1;
  }


