@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-size: 1em;
    font-family: "GmarketSansMedium";
    /* color: rgb(222, 222, 222); */
    list-style-type: none;
}

.main_Wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

/* Nav 영역 */
#left_Nav_Container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
}

.nav_Title {
    width: 100%;
    height: 85px;
    border: 1px solid red;

    color: white;
}

/* Nav 안 슬라이더 */
.nav_Slide li:nth-child(n) {
    display: flex;
    width: 300px;
    min-height: 50px;
    color: white;
    margin-top: 20px;
}



.title_move {
    text-decoration: none;
    color: black;
    height: 50px;
}

.slide_Title {
    display: flex;
    align-items: center;
}

.selected_Title {
    background-color: #FAE300;
    color: black !important;
}

.title_move li:hover {
    background-color: #FAE300;
    color: black;
}

.slide_Content {
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
    /* border-bottom: 1px solid white; */
    margin-bottom: 10px;
}

.slide_Wrapper:hover {
    background-color: #FAE300;
    color: black;
}

.slide_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_Wrapper.active {
    background-color: #FAE300;
    color: black;
}

.align_Inner_Items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_Left_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.slide_Inner_Title {
    display: flex;
    width: 200px;
}

.slide_Right_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.slide_Down_items {
    display: none;
    font-size: 0.8rem;
}

.slide_Down_items li {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.slide_Down_items li:hover {
    background-color: #FAE300;
    color: black;
}

.slide_Down_items a {
    text-decoration: none;
}

.inner_align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_Left_Icon {
    padding-top: 4px;
    margin-right: 20px;
}



/* 우측 영역 */
.right_items_Container {
    display: flex;
    flex-direction: column;
    flex: 8.5;
    height: 100%;
}

/* 내부 아이템 영역 */
#items_Wrapper {
    flex: 1;
    display: flex;
}

.set_Edge {
    flex: 1;
    display: flex;
    margin: 20px 18px;
    background-color: white;
}

.table_Wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}

.table_Title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    border-bottom: 2px solid black;
    justify-content: space-between;
}

.table_Title span {
    margin-left: 30px;
    font-size: 2rem;
    margin-bottom: 15px;
}

.table_main {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 30px 0 10px 0;
}


#movie_sub {
    display: flex;
    width: 50vw;
    margin-bottom: 20px;
}

#movie_sub span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 8px;
    margin-right: 30px;
}

#movie_sub>div {
    flex: 9;
    display: flex;
}

#movie_sub textarea {
    height: 100px;
    resize: none;
}

.movie_sub_enter {
    position: relative;
    display: flex;
    align-items: center;
    width: 800px;
    height: 50px;
    border: 2px solid #ddd;
}

.movie_sub_enter:hover {
    border: 2px solid black;
}

/* 개봉일 */
.movie_releseDate {
    position: relative;
    display: flex;
    align-items: center;
    width: 140px;
    height: 50px;
    border: 2px solid #ddd;
}

.movie_releseDate:hover {
    border: 2px solid black;
}

.movie_releseDate>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.movie_releseDate div:hover {
    background-color: #FAE300;
    color: black;
}

/* 이미지 */
.movie_image {
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    border: 2px solid #ddd;
    vertical-align: middle;
}

.movie_image:hover {
    border: 2px solid black;
}

.movie_image>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.movie_image div:hover {
    background-color: #FAE300;
    color: black;
}


.deleteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    font-size: 0.8rem;
}

/* 관람등급 */
#level {
    display: flex;
    width: 50vw;
    margin-bottom: 20px;
    height: 50px;
}

#level span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 8px;
    margin-right: 30px;
}

#level>div {
    flex: 9;
}

.level_Items {
    display: none;
}

.movie_level {
    position: relative;
    display: flex;
    align-items: center;
    width: 800px;
    height: 50px;
    border-bottom: 2px solid #ddd;
}

.movie_level:hover {
    border-bottom: 2px solid black;
}

.movie_level>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.movie_level div:hover {
    background-color: #FAE300;
    color: black;
}

.movie_level_slide {
    background-color: white;
    position: absolute;
    top: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 250px;
    overflow-y: scroll;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.movie_level_slide div {
    padding: 10px 20px;
}

.movie_level_slide div:hover {
    background-color: #FAE300;
    color: black;
}


/* 장르 영화 */
#Genre {
    display: flex;
    width: 50vw;
    margin-bottom: 20px;
    height: 50px;
}

#Genre span {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 8px;
    margin-right: 30px;
}

#Genre>div {
    flex: 9;
}

.Genre_Items {
    display: none;
}

.movie_Genre {
    position: relative;
    display: flex;
    align-items: center;
    width: 800px;
    height: 50px;
    border-bottom: 2px solid #ddd;
}

.movie_Genre:hover {
    border-bottom: 2px solid black;
}

.movie_Genre>div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #333333;
    color: white;
    cursor: pointer;
}

.movie_Genre div:hover {
    background-color: #FAE300;
    color: black;
}

.movie_genre_slide {
    background-color: white;
    position: absolute;
    top: 50px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 250px;
    overflow-y: scroll;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.movie_genre_slide div {
    padding: 10px 20px;
}

.movie_genre_slide div:hover {
    background-color: #FAE300;
    color: black;
}

.added {
    width: 80px;
    height: 30px;
}

/* 저장 및 취소 버튼 */
.table_bottom {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 13px;
}

.table_bottom button {
    color: white;
}

.table_bottom button:hover {
    background-color: #FAE300;
    color: black;
}

.bottom_Submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    cursor: pointer;
    background-color: #333333;
}

.bottom_Cancel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin-left: 30px;
    cursor: pointer;
    background-color: #333333;
}

.relative {
    position: relative;
}