@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-size: 1em;
    font-family: "GmarketSansMedium";
    /* color: rgb(222, 222, 222); */
    list-style-type: none;
}

.main_Wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

/* 우측 영역 */
.right_items_Container {
    display: flex;
    flex-direction: column;
    flex: 8.5;
    height: 100%;
}

/* 내부 아이템 영역 */
#items_Wrapper {
    display: flex;
    flex: 1;
}

.set_Edge {
    flex: 1;
    display: flex;
    margin: 20px 18px;
    background-color: white;
}

.table_Wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;

}

.table_Title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    border-bottom: 2px solid black;
    justify-content: space-between;
}

.table_Title span {
    margin-left: 30px;
    font-size: 2rem;
    margin-bottom: 15px;
}

.search_Box {
    display: flex;
    width: 350px;
    height: 25px;
    margin-bottom: 15px;
}

.search_Box input {
    flex: 9;
}

.search_Box button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.table_main tr {
    width: 100%;
    height: 6.5vh;
    text-align: center;
}

.table_main th,
.table_main td {
    vertical-align: middle;
}

.table_main th {
    font-size: 0.9rem;
    font-weight: bold;
}

.table_main td {
    font-size: 0.8rem;
}

.table_main tr:nth-child(2n) {
    background-color: #dbdbdb;
}

.table_main td a {
    width: 25px;
    height: 25px;
    color: black;
    text-decoration: none;
}

.table_main td a i {
    padding-top: 4px;
    padding-right: 2px;
}

.page_Nation {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_Nation div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #f0efef;
}

.selected_Cp {
    border-radius: 5px;
    font-weight: bold;
    background-color: #eee;
    border: 2px solid black;
}

.page_Nation div:hover {
    background-color: #ccc;
}

.page_Nation a {
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    line-height: 50px;
    width: 50px;
    height: 50px;
    color: black;
}