<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cinemaMapper">

    <resultMap type="cinema" id="cinema_rm">
        <id property="cinemaNo" column="CINEMA_NO" />
        <result property="cinemaName" column="CINEMA_NAME" />
        <result property="cinemaArea" column="CINEMA_AREA" />
        <result property="cinemaRegion" column="CINEMA_REGION" />
        <result property="cinemaScreen" column="CINEMA_SCREEN" />
    </resultMap>
    
    <resultMap type="screen" id="screen_rm">
        <id property="screenNo" column="SCREEN_NO"/>
        <result property="cinemaName" column="CINEMA_NAME" />
        <result property="screenName" column="SCREEN_NAME" />
        <result property="screenStyle" column="SCREEN_STYLE" />
        <result property="screenSeat" column="SCREEN_SEAT" />
        <result property="screenDetail" column="SCREEN_DETAIL" />
    </resultMap>
    
    
    <!-- 영화관 등록 -->
    
    <insert id="enrollCinema" parameterType="cinema">
        INSERT INTO CINEMA 
        VALUES(SEQ_CINEMA_NO.NEXTVAL, #{cinemaName}, #{cinemaArea}, #{cinemaRegion}, #{cinemaScreen})
    </insert>
    
    
    <!-- 상영관 등록 -->
    
    <insert id="enrollScreen" parameterType="screen">
        INSERT INTO SCREEN
        VALUES(SEQ_SCREEN_NO.NEXTVAL, #{cinemaName}, #{screenName}, #{screenStyle}, #{screenSeat}, #{screenDetail})
    </insert>
    
    
    <!-- 영화관 중복 검사 -->
    
    <select id="cinemaDupCheck" parameterType="string" resultType="_int">
        SELECT COUNT(*) FROM CINEMA
        WHERE CINEMA_NAME = #{cinemaName}
    </select>
    
    
    <!-- 영화관 갯수 조회 -->
    
    <select id="getCinemaCount" resultType="_int">
        SELECT COUNT(*) FROM CINEMA
    </select>
    
    
    <!-- 영화관 리스트 조회 -->
    
    <select id="getCinemaList" resultMap="cinema_rm">
        SELECT * FROM CINEMA
        ORDER BY CINEMA_NO ASC
    </select>
    
    
    <!-- 지역별 영화관 리스트 조회 -->
    
    <select id="getAreaCinemaList" parameterType="string" resultMap="cinema_rm">
    	SELECT * FROM CINEMA
    	WHERE CINEMA_AREA = #{areaName}
    	ORDER BY CINEMA_NAME ASC
    </select>

</mapper>