<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="managerMapper">

	<resultMap type="user" id="user_rm">
	
		<id property="userNo" column="USER_NO"/>
		
		<result property="userEmail" 		column="USER_EMAIL"/>
		<result property="userPw" 			column="USER_PW"/>
		<result property="userName" 		column="USER_NAME"/>
		<result property="userNick" 		column="USER_NICKNAME"/>
		<result property="userTel" 			column="USER_TEL"/>
		<result property="userAddr" 		column="USER_ADDR"/>
		<result property="userBirth" 		column="USER_BIRTH"/>
		<result property="userGender" 		column="USER_GENDER"/>
		<result property="userRegDate" 		column="USER_REGDATE"/>
		<result property="userSt" 			column="USER_ST"/>
		<result property="userImg"	 		column="USER_IMG"/>
		<result property="userPoint" 		column="USER_POINT"/>
		<result property="userSns" 			column="USER_SNS"/>
		<result property="userDelete" 		column="USER_DELETE"/>
		<result property="userManagerSt" 		column="USER_MANAGERST"/>
		<result property="userBlock" 		column="USER_BLOCK"/>
	</resultMap>
	
	<resultMap type="movie" id="movie_rm">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieRuntime" 			column="MOVIE_RUNTIME"/>
		<result property="movieTitle" 				column="MOVIE_TITLE"/>
		<result property="movieNation" 				column="MOVIE_NATION"/>
		<result property="movieOpen" 				column="MOVIE_OPEN"/>
		<result property="mgNo" 					column="MG_NO"/>
		<result property="movieContent" 			column="MOVIE_CONTENT"/>
		<result property="movieImg" 				column="MOVIE_IMG"/>
		<result property="moviePlayed" 				column="MOVIE_PLAYED"/>
		<result property="movieWatched" 			column="MOVIE_WATCHED"/>
		<result property="movieRegdate" 			column="MOVIE_REGDATE"/>
		<result property="movieUploader"	 		column="MOVIE_UPLOADER"/>
		<result property="movieFixdate" 			column="MOVIE_FIXDATE"/>
		<result property="movieChanger" 			column="MOVIE_CHANGER"/>
		<result property="genreCode" 				column="GENRE_CODE"/>
	</resultMap>
	
	
	<!-- 회원 수 조회 -->
	<select id="getListCount" resultType="_int">
	SELECT COUNT(USER_NO) FROM USERS
	</select>
	
	<!-- 회원 리스트 조회-->
	<select id="selectAll" resultMap="user_rm">
	SELECT
	USER_NO
	, USER_EMAIL
	, USER_NAME
	, USER_NICKNAME
	, USER_TEL
	, USER_ADDR
	, USER_BIRTH
	, USER_GENDER
	, USER_REGDATE
	, USER_DELETE
	, USER_ST
	, USER_POINT
	, USER_SNS
	, USER_MANAGERST
	, USER_BLOCK
	FROM USERS
	ORDER BY USER_NO ASC
	</select>
	
	<update id="updateST" parameterType="user">
	UPDATE USERS
	SET USER_MANAGERST = #{userManagerSt}
	WHERE USER_EMAIL = #{userEmail}
	</update>
	
	<insert id="MovieAdd" parameterType="movie"> 
		INSERT INTO MOVIE 
    	VALUES (
    		SEQ_MOVIE_NO.NEXTVAL,
        	#{movieRuntime},
        	#{movieTitle},
        	#{movieNation},
        	#{movieOpen},
        	#{mgNo},
        	#{movieContent},
        	#{movieImg},
        	null,
        	null,
        	default,
        	#{movieUploader},
        	null,
        	null,
        	#{genreCode},
        	#{movieDirector},
        	#{movieCast}
    	)
	</insert>

</mapper>
