<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="movieMapper">
	
	<resultMap type="movie" id="movie_rm">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieRuntime" 			column="MOVIE_RUNTIME"/>
		<result property="movieTitle" 				column="MOVIE_TITLE"/>
		<result property="movieNation" 				column="MOVIE_NATION"/>
		<result property="movieOpen" 				column="MOVIE_OPEN"/>
		<result property="mgNo" 					column="MG_CONTENT"/> 
		<result property="movieContent" 			column="MOVIE_CONTENT"/>
		<result property="movieDirector" 			column="MOVIE_DIRECTOR"/>
		<result property="movieCast" 			column="MOVIE_CAST"/>
		<result property="moviePlayed" 				column="MOVIE_PLAYED"/>
		<result property="movieWatched" 			column="MOVIE_WATCHED"/>
		<result property="movieRegdate" 			column="MOVIE_REGDATE"/>
		<result property="movieUploader"	 		column="MOVIE_UPLOADER"/>
		<result property="genreName" 				column="GENRE_NAME"/>
		<result property="movieImg1" 				column="MOVIE_IMG1"/> 
		<result property="movieImg2" 				column="MOVIE_IMG2"/> 
		<result property="movieImg3" 				column="MOVIE_IMG3"/> 
		<result property="movieImg4" 				column="MOVIE_IMG4"/> 
		<result property="movieImg5" 				column="MOVIE_IMG5"/> 
		<result property="movieImg6" 				column="MOVIE_IMG6"/> 
		<result property="movieSt" 				column="MOVIE_ST"/> 
	</resultMap>
		
	<!-- 영화 등록 -->
	<insert id="MovieAdd" parameterType="movie"> 
		INSERT INTO MOVIE 
    	VALUES (
    	<!--MOVIE_NO -->
    		SEQ_MOVIE_NO.NEXTVAL
    		<!-- MOVIE_RUNTIME -->
        	, #{movieRuntime}
        	<!-- MOVIE_TITLE -->
        	, #{movieTitle}
        	<!-- MOVIE_NATION -->
        	, #{movieNation}
        	<!-- MG_CONTENT -->
        	, #{mgNo}
			<!-- MOVIE_CONTENT -->
        	, #{movieContent}
			<!-- MOVIE_IMG1 -->
			, #{movieImg1}
        	<!-- MOVIE_PLAYED -->
        	, default
        	<!-- MOVIE_WATCHED -->
        	, default
          	<!--MOVIE_REGDATE  -->
        	, default      	
        	<!-- MOVIE_UPLOADER -->
        	, #{movieUploader}        	
         	<!-- GENRE_CODE -->
        	, #{genreName}
        	<!-- MOVIE_DIRECTOR -->
        	, #{movieDirector}
        	 <!-- MOVIE_CAST -->
        	, #{movieCast}
        	<!-- MOVIE_OPEN -->
        	, #{movieOpen}
			<!-- MOVIE_IMG2 -->
			, #{movieImg2}
			<!-- MOVIE_IMG3 -->
			, #{movieImg3}
			<!-- MOVIE_IMG4 -->
			, #{movieImg4}
			<!-- MOVIE_IMG5 -->
			, #{movieImg5}
			<!-- MOVIE_IMG6 -->
			, #{movieImg6}
			<!-- MOVIE_ST -->		
			, default
    	)
	</insert>
	
	<!-- 영화 등록 Grade 호출 -->
	<select id="mgradeList" resultType="string">
		SELECT MG_CONTENT FROM MOVIE_GRADE
	</select>
	
	<!-- 영화 등록 Grade 호출 -->
	<select id="mgenreList" resultType="string">
		SELECT GENRE_NAME FROM GENRE
	</select>
	
	<!-- 영화 수 조회 -->
	<select id="getmovielistCount" resultType="_int">
		SELECT COUNT(MOVIE_NO) FROM MOVIE
	</select>
	
	<!-- 영화 목록에 쓰일 list 호출 -->
	<select id="movieList" resultMap="movie_rm">
		SELECT * FROM MOVIE
		ORDER BY MOVIE_NO DESC
	</select>
	
	<!-- 영화 수정 페이지 이동 후 값 불러오기 -->
	<select id="getEditMovieList" resultMap="movie_rm">
		SELECT * FROM MOVIE
		WHERE MOVIE_NO = #{movieNo}
	</select>
	
	<!-- 영화 수정 -->
	<update id="MovieEdit" parameterType="movie">
		UPDATE MOVIE SET
			MOVIE_RUNTIME = #{movieRuntime}
        	, MOVIE_TITLE = #{movieTitle}
        	, MOVIE_NATION = #{movieNation}
        	, MG_CONTENT = #{mgNo}
        	, MOVIE_CONTENT = #{movieContent}
        	, MOVIE_IMG1 = #{movieImg1}
        	, MOVIE_REGDATE = default
        	, MOVIE_UPLOADER = #{movieUploader}
        	, GENRE_NAME = #{genreName}
        	, MOVIE_DIRECTOR = #{movieDirector}
        	, MOVIE_CAST = #{movieCast}
        	, MOVIE_OPEN = #{movieOpen}
			, MOVIE_IMG2 = #{movieImg2}
			, MOVIE_IMG3 = #{movieImg3}
			, MOVIE_IMG4 = #{movieImg4}
			, MOVIE_IMG5 = #{movieImg5}
			, MOVIE_IMG6 = #{movieImg6}
			, MOVIE_ST = default
			WHERE MOVIE_NO = ${movieNo}
	</update>
	
</mapper>