<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="movieMapper">

	<resultMap type="play" id="play_rm">
		<id property="playNo" column="PLAY_NO" />
		<result property="movieNo" column="MOVIE_NO" />
		<result property="screenNo" column="SCREEN_NO" />
		<result property="playStart" column="PLAY_START" />
		<result property="playEnd" column="PLAY_END" />
		<result property="playRegDate" column="PLAY_REGDATE" />
		<result property="playUploader" column="PLAY_UPLOADER" />
		<result property="playBookCount" column="PLAY_BOOKCOUNT" />
		<result property="playBookSeat" column="PLAY_BOOKSEAT" />
	</resultMap>

	<resultMap type="cinema" id="cinema_rm">
		<id property="cinemaNo" column="CINEMA_NO" />
		<result property="cinemaName" column="CINEMA_NAME" />
		<result property="cinemaArea" column="CINEMA_AREA" />
		<result property="cinemaRegion" column="CINEMA_REGION" />
		<result property="cinemaScreen" column="CINEMA_SCREEN" />
	</resultMap>

	<resultMap type="movie" id="movie_rm">
		<id property="movieNo" column="MOVIE_NO" />
		<result property="movieRuntime" column="MOVIE_RUNTIME" />
		<result property="movieTitle" column="MOVIE_TITLE" />
		<result property="movieNation" column="MOVIE_NATION" />
		<result property="movieOpen" column="MOVIE_OPEN" />
		<result property="mgNo" column="MG_CONTENT" />
		<result property="movieContent" column="MOVIE_CONTENT" />
		<result property="movieDirector" column="MOVIE_DIRECTOR" />
		<result property="movieCast" column="MOVIE_CAST" />
		<result property="moviePlayed" column="MOVIE_PLAYED" />
		<result property="movieWatched" column="MOVIE_WATCHED" />
		<result property="movieRegdate" column="MOVIE_REGDATE" />
		<result property="movieUploader" column="MOVIE_UPLOADER" />
		<result property="genreName" column="GENRE_NAME" />
		<result property="movieImg1" column="MOVIE_IMG1" />
		<result property="movieImg2" column="MOVIE_IMG2" />
		<result property="movieImg3" column="MOVIE_IMG3" />
		<result property="movieImg4" column="MOVIE_IMG4" />
		<result property="movieImg5" column="MOVIE_IMG5" />
		<result property="movieImg6" column="MOVIE_IMG6" />
		<result property="movieSt" column="MOVIE_ST" />
	</resultMap>


	<resultMap type="tt" id="tt_rm">
		<id property="ttNo" column="TT_NO" />
		<result property="ttTime" column="TT_TIME" />
	</resultMap>


	<resultMap type="screen" id="screen_rm">
		<id property="screenNo" column="SCREEN_NO" />
		<result property="cinemaName" column="CINEMA_NAME" />
		<result property="screenName" column="SCREEN_NAME" />
		<result property="screenStyle" column="SCREEN_STYLE" />
		<result property="screenSeat" column="SCREEN_SEAT" />
		<result property="screenDetail" column="SCREEN_DETAIL" />
	</resultMap>



	<resultMap type="jp" id="jp_rm">
		<collection property="play" resultMap="play_rm" />
		<collection property="cinema" resultMap="cinema_rm" />
		<collection property="movie" resultMap="movie_rm" />
		<collection property="tt" resultMap="tt_rm" />
		<collection property="screen" resultMap="screen_rm" />
	</resultMap>

	<resultMap id="CinemaNameResult" type="screen">
		<result property="cinemaName" column="CINEMA_NAME" />
		<result property="screenStyle" column="SCREEN_STYLE" />
		<result property="screenName" column="SCREEN_NAME" />
	</resultMap>


	<!-- 영화 등록 -->
	<insert id="MovieAdd" parameterType="movie">
		INSERT INTO MOVIE
		VALUES (
		<!--MOVIE_NO -->
		SEQ_MOVIE_NO.NEXTVAL
		<!-- MOVIE_RUNTIME -->
		, #{movieRuntime}
		<!-- MOVIE_TITLE -->
		, #{movieTitle}
		<!-- MOVIE_NATION -->
		, #{movieNation}
		<!-- MG_CONTENT -->
		, #{mgNo}
		<!-- MOVIE_CONTENT -->
		, #{movieContent}
		<!-- MOVIE_IMG1 -->
		, #{movieImg1}
		<!-- MOVIE_PLAYED -->
		, default
		<!-- MOVIE_WATCHED -->
		, default
		<!--MOVIE_REGDATE -->
		, default
		<!-- MOVIE_UPLOADER -->
		, #{movieUploader}
		<!-- GENRE_CODE -->
		, #{genreName}
		<!-- MOVIE_DIRECTOR -->
		, #{movieDirector}
		<!-- MOVIE_CAST -->
		, #{movieCast}
		<!-- MOVIE_OPEN -->
		, #{movieOpen}
		<!-- MOVIE_IMG2 -->
		, #{movieImg2}
		<!-- MOVIE_IMG3 -->
		, #{movieImg3}
		<!-- MOVIE_IMG4 -->
		, #{movieImg4}
		<!-- MOVIE_IMG5 -->
		, #{movieImg5}
		<!-- MOVIE_IMG6 -->
		, #{movieImg6}
		<!-- MOVIE_ST -->
		, default
		)
	</insert>

	<!-- 영화 등록 Grade 호출 -->
	<select id="mgradeList" resultType="string">
		SELECT MG_CONTENT FROM
		MOVIE_GRADE
	</select>

	<!-- 영화 등록 장르 호출 -->
	<select id="mgenreList" resultType="string">
		SELECT GENRE_NAME FROM GENRE
		ORDER BY GENRE_NAME ASC
	</select>

	<!-- 영화 수 조회 -->
	<select id="getmovielistCount" resultType="_int">
		SELECT COUNT(MOVIE_NO)
		FROM MOVIE
	</select>

	<!-- 영화 목록에 쓰일 list 호출 -->
	<select id="movieList" resultMap="movie_rm">
		SELECT * FROM MOVIE
		ORDER BY
		MOVIE_NO DESC
	</select>

	<!-- 영화 수정 페이지 이동 후 값 불러오기 -->
	<select id="getEditMovieList" resultMap="movie_rm">
		SELECT * FROM MOVIE
		WHERE MOVIE_NO = #{movieNo}
	</select>

	<!-- 영화 수정 -->
	<update id="MovieEdit" parameterType="movie">
		UPDATE MOVIE SET
		MOVIE_RUNTIME = #{movieRuntime}
		, MOVIE_TITLE = #{movieTitle}
		,
		MOVIE_NATION = #{movieNation}
		, MG_CONTENT = #{mgNo}
		, MOVIE_CONTENT =
		#{movieContent}
		, MOVIE_IMG1 = #{movieImg1}
		, MOVIE_REGDATE = default
		,
		MOVIE_UPLOADER = #{movieUploader}
		, GENRE_NAME = #{genreName}
		,
		MOVIE_DIRECTOR = #{movieDirector}
		, MOVIE_CAST = #{movieCast}
		,
		MOVIE_OPEN = #{movieOpen}
		, MOVIE_IMG2 = #{movieImg2}
		, MOVIE_IMG3 =
		#{movieImg3}
		, MOVIE_IMG4 = #{movieImg4}
		, MOVIE_IMG5 = #{movieImg5}
		,
		MOVIE_IMG6 = #{movieImg6}
		, MOVIE_ST = default
		WHERE MOVIE_NO =
		${movieNo}
	</update>

	<!-- 메인페이지 -> 영화 -> 상영중인 영화 이동 시 영화 목록 조회 -->
	<select id="getMovieList" resultMap="movie_rm">
		SELECT * FROM MOVIE
		ORDER BY
		MOVIE_OPEN ASC
	</select>

	<!-- 메인 상영중인 영화 목록 가지고 오기 - 6개 -->
	<select id="mainMovieList" resultMap="movie_rm">
		SELECT * FROM
		(
		SELECT *
		FROM MOVIE
		WHERE MOVIE_ST = 'Y'
		ORDER BY
		MOVIE_OPEN DESC
		)
		WHERE
		ROWNUM <![CDATA[ <= ]]>
		6
	</select>

	<!-- 관리자_상영영화 수 조회 -->
	<select id="getNowPlayCount" resultType="_int">
		SELECT COUNT(PLAY_NO)
		FROM PLAY
		WHERE PLAY_END > SYSDATE
	</select>

	<!-- 관리자_상영영화 목록 조회 -->
	<select id="getPlayList" resultMap="jp_rm">
		SELECT
		p.PLAY_NO
		,
		m.MOVIE_TITLE
		, c.CINEMA_AREA
		, c.CINEMA_NAME
		, s.SCREEN_NAME,
		TO_CHAR(p.PLAY_START, 'YYYY-MM-DD HH24:MI') AS PLAY_START
		,
		TO_CHAR(p.PLAY_END, 'YYYY-MM-DD
		HH24:MI') AS PLAY_END
		, s.SCREEN_STYLE
		,
		m.MOVIE_NO
		FROM PLAY p
		INNER JOIN
		SCREEN s ON p.SCREEN_NO = s.SCREEN_NO
		INNER JOIN CINEMA c ON
		s.CINEMA_NAME = c.CINEMA_NAME
		INNER JOIN MOVIE m
		ON p.MOVIE_NO =
		m.MOVIE_NO
		WHERE p.PLAY_END > SYSDATE
		ORDER BY
		p.PLAY_START ASC
	</select>

	<!-- 관리자_상영영화 종료 목록 수 조회 -->
	<select id="getEndPlayCount" resultType="_int">
		SELECT COUNT(PLAY_NO) FROM PLAY
		WHERE PLAY_END  <![CDATA[ < ]]>
		SYSDATE
	</select>

	<!-- 관리자_상영영화 종료 목록 조회 -->
	<select id="getPlayEndList" resultMap="jp_rm">
		SELECT
		p.PLAY_NO
		, m.MOVIE_TITLE
		, c.CINEMA_AREA
		, c.CINEMA_NAME
		,
		s.SCREEN_NAME,
		TO_CHAR(p.PLAY_START, 'YYYY-MM-DD HH24:MI') AS
		PLAY_START
		, TO_CHAR(p.PLAY_END, 'YYYY-MM-DD
		HH24:MI') AS PLAY_END
		,
		s.SCREEN_STYLE
		, m.MOVIE_NO
		FROM PLAY p
		INNER JOIN
		SCREEN s ON p.SCREEN_NO
		= s.SCREEN_NO
		INNER JOIN CINEMA c ON
		s.CINEMA_NAME = c.CINEMA_NAME
		INNER
		JOIN MOVIE m ON p.MOVIE_NO =
		m.MOVIE_NO
		WHERE p.PLAY_END <![CDATA[ < ]]>SYSDATE
		ORDER BY p.PLAY_START ASC
	</select>

	<select id="getScreenInfo" resultMap="CinemaNameResult">
		SELECT * FROM SCREEN WHERE SCREEN_STYLE =
		#{screenStyle}
	</select>

	<select id="allLike" resultType="double">
		SELECT 
			ROUND(SUM(REV_LIKE) / COUNT(REV_LIKE), 1)
		FROM REVIEW
		WHERE MOVIE_NO = ${movieNo}
		AND REV_ST = 'N'
	</select>
	
	
	<select id="allBook" resultType="double">
		SELECT
    		ROUND(((subquery1.booknum / subquery2.totalnum) * 100), 1)
		FROM
    		(SELECT
        		COUNT(MOVIE_NO) AS booknum
    	FROM
        	BOOK
    	WHERE
        	MOVIE_NO = ${movieNo} 
        	AND BOOK_ST = 'Y') subquery1,
    	(SELECT
        	COUNT(*) AS totalnum
    	FROM
        	BOOK
    	WHERE
        	BOOK_ST = 'Y') subquery2
	</select>

</mapper>