<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mtmMapper">

	<resultMap type="mtm" id="mtm_rm">
		<id property="mtmNo" column="MTM_NO" />
		<result property="mtmTitle" column="MTM_TITLE" />
		<result property="mtmContent" column="MTM_CONTENT" />
		<result property="mtmSt" column="MTM_ST" />
		<result property="mtmType" column="MTM_TYPE" />
		<result property="userNo" column="USER_NO" />
		<result property="mtmImage" column="MTM_IMAGE" />
		<result property="mtmRegdate" column="MTM_REGDATE" />
		<result property="mtmCount" column="MTM_COUNT" />
		<result property="mtmWriter" column="MTM_WRITER" />
		<result property="mtmRepWriter" column="MTM_REPWRITER" />
		<result property="mtmRepSt" column="MTM_REPST" />
		<result property="mtmRepContent" column="MTM_REPCONTENT" />
		<result property="mtmRepDate" column="MTM_REPDATE" />


	</resultMap>

	<select id="getMtmCount" resultType="_int">
		SELECT COUNT(MTM_NO) FROM
		MTM_TBL
	</select>


	<select id="selectMtmNo" resultType="_int">
		SELECT MAX(MTM_NO) AS
		maxMtmNo FROM MTM_TBL WHERE USER_NO = ${userNo}
	</select>


	<select id="getUserMtmCount" resultType="_int">
		SELECT COUNT(MTM_NO)
		FROM MTM_TBL
		WHERE
		<choose>
			<when
				test="userNo != null and userNo != 0 and userManagerSt != null and userManagerSt == 1">
				MTM_TBL.MTM_ST = 'N' ORDER BY MTM_TBL.MTM_NO DESC
			</when>
			<when test="userNo != 0  and userManagerSt == 0">
				MTM_TBL.USER_NO = #{userNo} AND MTM_TBL.MTM_ST = 'N'
			</when>
			<otherwise>	
				MTM_TBL.USER_NO = 0 AND MTM_TBL.MTM_ST = 'N'
			</otherwise>
		</choose>
		
	</select>



	<select id="getNextmtmNo" resultType="_int">
		SELECT (COUNT(MTM_NO) + 1)
		AS NEXT_MTM_NO FROM MTM_TBL
	</select>

	<select id="userMtmList" resultMap="mtm_rm">
		SELECT
		MTM_NO,
		MTM_TITLE,
		TO_CHAR(MTM_REGDATE, 'YYYY.MM.DD') AS
		MTM_REGDATE,
		MTM_COUNT,
		MTM_TYPE
		FROM
		MTM_TBL
		INNER JOIN
		USERS ON MTM_TBL.USER_NO = USERS.USER_NO
		WHERE
		<choose>
			<when
				test="userNo != null and userNo != 0 and userManagerSt != null and userManagerSt == 1">
				MTM_TBL.MTM_ST = 'N' ORDER BY MTM_TBL.MTM_NO DESC
			</when>
			<when test="userNo != 0  and userManagerSt == 0">
				MTM_TBL.USER_NO = #{userNo} AND MTM_TBL.MTM_ST = 'N' ORDER BY MTM_TBL.MTM_NO DESC
			</when>
			<otherwise>	
				MTM_TBL.USER_NO = 0 AND MTM_TBL.MTM_ST = 'N'
			</otherwise>
		</choose>
	</select>

	<select id="mtmDetail" resultMap="mtm_rm">
		SELECT
		MTM_NO
		, MTM_TITLE
		,
		MTM_CONTENT
		, TO_CHAR(MTM_REGDATE, 'YYYY.MM.DD') AS MTM_REGDATE
		,
		MTM_WRITER
		, MTM_REPST
		, MTM_REPWRITER
		,TO_CHAR(MTM_REPDATE, 'YYYY.MM.DD HH24:MM') AS MTM_REPDATE
		FROM MTM_TBL
		WHERE MTM_NO = #{mtmNo}
	</select>

	<insert id="addmTm" parameterType="mtm">
		INSERT INTO MTM_TBL
		VALUES (
		SEQ_MTM_NO.NEXTVAL
		, #{mtmTitle}
		, #{mtmContent}
		, NULL
		, #{userNo}
		, #{mtmType}
		, DEFAULT
		, DEFAULT
		, DEFAULT
		, #{mtmWriter}
		, DEFAULT
		, DEFAULT
		, DEFAULT
		, DEFAULT
		)
		
	</insert>

	<update id="deleteBoard">
		UPDATE MTM_TBL SET
		MTM_ST = 'Y'
		WHERE MTM_NO = ${mtmNo}
	</update>


</mapper>
