<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="playMapper">

    <resultMap type="movie" id="movie_rm">
		<id property="movieNo" column="MOVIE_NO"/>
		<result property="movieRuntime" 		column="MOVIE_RUNTIME"/>
		<result property="movieTitle" 			column="MOVIE_TITLE"/>
		<result property="movieNation" 			column="MOVIE_NATION"/>
		<result property="movieOpen" 			column="MOVIE_OPEN"/>
		<result property="mgNo" 				column="MG_CONTENT"/> 
		<result property="movieContent" 		column="MOVIE_CONTENT"/>
		<result property="movieDirector" 		column="MOVIE_DIRECTOR"/>
		<result property="movieCast" 			column="MOVIE_CAST"/>
		<result property="moviePlayed" 			column="MOVIE_PLAYED"/>
		<result property="movieWatched" 		column="MOVIE_WATCHED"/>
		<result property="movieRegdate" 		column="MOVIE_REGDATE"/>
		<result property="movieUploader"	 	column="MOVIE_UPLOADER"/>
		<result property="genreName" 			column="GENRE_NAME"/>
		<result property="movieImg1" 			column="MOVIE_IMG1"/> 
		<result property="movieImg2" 			column="MOVIE_IMG2"/> 
		<result property="movieImg3" 			column="MOVIE_IMG3"/> 
		<result property="movieImg4" 			column="MOVIE_IMG4"/> 
		<result property="movieImg5"			column="MOVIE_IMG5"/> 
		<result property="movieImg6" 			column="MOVIE_IMG6"/> 
		<result property="movieSt" 				column="MOVIE_ST"/> 
	</resultMap>
	
	<resultMap type="tt" id="tt_rm">
		<id property="ttNo" column="TT_NO" />
		<result property="ttTime" column="TT_TIME" />
	</resultMap>
	
	<resultMap type="play" id="play_rm">
	    <id property="playNo"                   column="PLAY_NO" />
	    <result property="movieNo"              column="MOVIE_NO" />
	    <result property="screenNo"             column="SCREEN_NO" />
	    <result property="playStart"            column="PLAY_START"/>
	    <result property="playEnd"              column="PLAY_END"/>
	    <result property="playRegDate"          column="PLAY_REGDATE"/>
	    <result property="playUploader"         column="PLAY_UPLOADER"/>
	    <result property="playBookCount"        column="PLAY_BOOKCOUNT"/>
	    <result property="playBookSeat"         column="PLAY_BOOKSEAT"/>
	</resultMap>
	
	<resultMap type="screen" id="screen_rm">
		<id property="screenNo"                 column="SCREEN_NO" />
		<result property="cinemaName"           column="CINEMA_NAME" />
		<result property="screenName"           column="SCREEN_NAME" />
		<result property="screenStyle"          column="SCREEN_STYLE" />
		<result property="screenSeat"           column="SCREEN_SEAT" />
		<result property="screenDetail"         column="SCREEN_DETAIL" />
	</resultMap>
	
	<resultMap type="cinema" id="cinema_rm">
		<id property="cinemaNo"                 column="CINEMA_NO" />
		<result property="cinemaName"           column="CINEMA_NAME" />
		<result property="cinemaArea"           column="CINEMA_AREA" />
		<result property="cinemaRegion"         column="CINEMA_REGION" />
		<result property="cinemaScreen"         column="CINEMA_SCREEN" />
	</resultMap>
	
	<resultMap type="jp" id="jp_rm">
		<collection property="play" resultMap="play_rm" />
		<collection property="cinema" resultMap="cinema_rm" />
		<collection property="movie" resultMap="movie_rm" />
		<collection property="tt" resultMap="tt_rm" />
		<collection property="screen" resultMap="screen_rm" />
	</resultMap>
	
	
	<!-- 상영 중인 영화 리스트 (이름 순) -->
	
	<select id="getPlayingMovieList" resultMap="movie_rm">
		SELECT * FROM MOVIE
		WHERE MOVIE_ST = 'Y'
		ORDER BY MOVIE_TITLE ASC
	</select>
	
	<!-- 상영 중인 영화 리스트 (예매율 순) -->
	
	<select id="getPlayingThumbList" resultMap="movie_rm">
		SELECT * FROM MOVIE
		WHERE MOVIE_ST = 'Y'
		ORDER BY MOVIE_TITLE DESC
	</select>
	
	<!-- 상영 시간표 -->
	
	<select id="getTimeTableList" resultMap="tt_rm">
		SELECT * FROM TIME_TABLE
	</select>
	
	<!-- 상영 유효성 검사 -->
	
	<select id="playTimeCheck" resultMap="play_rm">
		SELECT * FROM PLAY
		<![CDATA[WHERE PLAY_START <= TO_DATE(#{playEnd}, 'YYYY-MM-DD HH24:MI:SS') 
		         AND PLAY_END >= TO_DATE(#{playStart}, 'YYYY-MM-DD HH24:MI:SS')
		         AND SCREEN_NO = #{screenNo}]]>
	</select>
	
	<!-- 상영 등록 -->
	
	<insert id="enrollPlay" parameterType="play">
		INSERT INTO PLAY(PLAY_NO, MOVIE_NO, SCREEN_NO, PLAY_START, PLAY_END, PLAY_REGDATE)
		VALUES(SEQ_PLAY_NO.NEXTVAL, #{movieNo}, #{screenNo}, 
		       TO_DATE(#{playStart}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{playEnd}, 'YYYY-MM-DD HH24:MI:SS'), SYSDATE)
	</insert>
	
	<!-- 영화관별 전체 상영 검색 -->
	<select id="getTotalPlayList" parameterType="Map" resultMap="jp_rm">
	<![CDATA[
	    SELECT m.MOVIE_NO, m.MOVIE_TITLE, c.CINEMA_NAME, s.SCREEN_NAME, s.SCREEN_SEAT, p.PLAY_START, p.PLAY_END  
	    FROM PLAY p
        INNER JOIN SCREEN s ON p.SCREEN_NO  = s.SCREEN_NO 
        INNER JOIN CINEMA c ON s.CINEMA_NAME = c.CINEMA_NAME
        INNER JOIN MOVIE m ON p.MOVIE_NO = m.MOVIE_NO
        WHERE c.CINEMA_NO = #{cinemaNo} AND TO_CHAR(p.PLAY_START, 'YYYYMMDD') = #{strDate} AND p.PLAY_START > SYSDATE
        ORDER BY m.MOVIE_TITLE DESC
	]]>
	</select>
	
	<!-- 특정 영화관의 특정 영화에 대한 전체 상영 검색 (이름 순) -->
	<select id="getMovieNamePlayList" parameterType="Map" resultMap="jp_rm">
	<![CDATA[
	    SELECT m.MOVIE_NO, m.MOVIE_TITLE, c.CINEMA_NAME, s.SCREEN_NAME, s.SCREEN_SEAT, p.PLAY_START, p.PLAY_END  
	    FROM PLAY p
        INNER JOIN SCREEN s ON p.SCREEN_NO  = s.SCREEN_NO 
        INNER JOIN CINEMA c ON s.CINEMA_NAME = c.CINEMA_NAME
        INNER JOIN MOVIE m ON p.MOVIE_NO = m.MOVIE_NO
        WHERE c.CINEMA_NO = #{cinemaNo} AND TO_CHAR(p.PLAY_START, 'YYYYMMDD') = #{strDate} AND p.PLAY_START > SYSDATE
              AND m.MOVIE_NO = #{movieNo}
	]]>
	</select>
	
	
	<!-- 특정 영화관의 특정 영화에 대한 전체 상영 검색 (예매율 순) -->
	<select id="getMovieRankPlayList" parameterType="Map" resultMap="jp_rm">
	<![CDATA[
	    SELECT m.MOVIE_NO, m.MOVIE_TITLE, c.CINEMA_NAME, s.SCREEN_NAME, s.SCREEN_SEAT, p.PLAY_START, p.PLAY_END  
	    FROM PLAY p
        INNER JOIN SCREEN s ON p.SCREEN_NO  = s.SCREEN_NO 
        INNER JOIN CINEMA c ON s.CINEMA_NAME = c.CINEMA_NAME
        INNER JOIN MOVIE m ON p.MOVIE_NO = m.MOVIE_NO
        WHERE c.CINEMA_NO = #{cinemaNo} AND TO_CHAR(p.PLAY_START, 'YYYYMMDD') = #{strDate} AND p.PLAY_START > SYSDATE
              AND m.MOVIE_NO = #{movieNo}
	]]>
	</select>
</mapper>