<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap type="review" id="review_rm">

		<id property="revNo" column="REV_NO" />
		<result property="movieNo" column="MOVIE_NO" />
		<result property="userNo" column="USER_NO" />
		<result property="revContent" column="REV_CONTENT" />
		<result property="revSt" column="REV_ST" />
		<result property="revLike" column="REV_LIKE" />
		<result property="revDate" column="REV_DATE" />
		<result property="revFixed" column="REV_FIXED" />
		<result property="userNick" column="USER_NICKNAME" />

	</resultMap>

	<!-- getReviewCount -->
	<select id="getReviewCount" resultType="_int">
		SELECT COUNT(REV_NO)
		FROM
		REVIEW
		WHERE MOVIE_NO = #{movieNo}
	</select>


	<select id="getReviewList-mvn" resultMap="review_rm">
		SELECT
		REV_NO,
		MOVIE_NO,
		USER_NO,
		REV_CONTENT,
		REV_ST,
		REV_LIKE,
		REV_DATE,
		REV_FIXED,
		USER_NICKNAME
		FROM
		REVIEW
		WHERE MOVIE_NO = #{movieNo}
		AND REV_ST = 'N'
		ORDER BY REV_NO DESC
	</select>

	<insert id="addReview" parameterType="review">
		INSERT INTO REVIEW VALUES(
		SEQ_REV_NO.NEXTVAL,
		#{movieNo}
		,#{userNo}
		,#{revContent}
		,DEFAULT
		,#{revLike}
		,DEFAULT
		,DEFAULT
		,#{userNick}
		)
	</insert>
	
	<update id="deleteReview">
	
		UPDATE REVIEW SET
		REV_ST = 'Y'
		WHERE REV_NO = #{revNo}

	</update>




</mapper>