<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="signupMapper">

<!-- 	
		<resultMap type="member" id="member_rm">
			<id property="memberNo" column="MEMBER_NO" />
			
			<result property="memberEmail" column="MEMBER_EMAIL" />
		</resultMap>
 -->
	
	<resultMap type="user" id="user_rm">
	
		<id property="userNo" column="USER_NO"/>
		
		<result property="userEmail" 		column="USER_EMAIL"/>
		<result property="userPw" 			column="USER_PW"/>
		<result property="userName" 		column="USER_NAME"/>
		<result property="userNick" 		column="USER_NICKNAME"/>
		<result property="userTel" 			column="USER_TEL"/>
		<result property="userAddr" 		column="USER_ADDR"/>
		<result property="userBirth" 		column="USER_BIRTH"/>
		<result property="userGender" 		column="USER_GENDER"/>
		<result property="userRegDate" 		column="USER_REGDATE"/>
		<result property="userSt" 			column="USER_ST"/>
		<result property="userImg"	 		column="USER_IMG"/>
		<result property="userPoint" 		column="USER_POINT"/>
		<result property="userSns" 			column="USER_SNS"/>
		<result property="userChange" 		column="USER_CHANGE"/>
		<result property="userDelete" 		column="USER_DELETE"/>
	</resultMap>
	
	
	
	<!-- 이메일 중복 검사 -->
  	<select id="emailDupCheck" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM USERS
		WHERE USER_EMAIL = #{userEmail}
		AND USER_ST = 'Y'
  	</select>
  	
  	<!-- 닉네임 중복 검사 -->
	<select id="nicknameDupCheck" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM USERS
		WHERE USER_NICKNAME = #{userNick}
		AND USER_ST = 'Y'
  	</select>
  	
  	<!-- 이름 중복 검사 -->
  	<select id="nameDupCheck" parameterType="string" resultType="_int">
  		SELECT COUNT(*) FROM USERS
		WHERE USER_NAME = #{userName}
		AND USER_ST = 'Y'
  	</select>
  	
  	<!-- 회원가입 -->
  	<insert id="signUp" parameterType="user">
  		INSERT INTO USERS VALUES(
  			SEQ_USER_NO.NEXTVAL,
  			#{userEmail},
  			#{userPw},
  			#{userName},
  			#{userNick},
  			#{userTel},
  			#{userAddr},
  			#{userBirth},
  			#{userGender},
  			DEFAULT, DEFAULT, NULL, 
  			DEFAULT, DEFAULT, NULL, DEFAULT , DEFAULT
  		)
  	</insert>
  	
</mapper>
