

/* =============================================================== */
/* 아래부터 추가하세요. */

body {
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
}

main {
  width: 1040px;
  height: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

main > section {
  width: 100%;
  margin: 50px auto;
  border: 1px solid white;
}

main > section * {
  font-size: 1em;
}


/* 현재 절차 */

main > section:first-child {
  width: 100%;
  border-left: 1px solid white;
}   

main > section:first-child * {
  font-size: 1em;
}

/* 제목 */

main > section:first-child > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  width: 100%;
  height: calc(200px/3);
  border-bottom: 1px solid white;
}


/* 인원 선택 */

main > section:first-child > div:nth-child(2) {
  width: 100%;
  height: 95px;
  border-bottom: 1px solid white;
  margin-bottom: calc(115px / 3);
}

main > section:first-child > div:nth-child(2) > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 95px;
}

main > section:first-child > div:nth-child(2) > ul > li {
  display: flex;
  align-items: center;

  height: 40px;
}

main > section:first-child > div:nth-child(2) > ul > li > div {
  display: flex;
  align-items: center;

  width: 150px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-left: 18px;
}

/* 숫자 */

main > section:first-child > div:nth-child(2) > ul > li > div > div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 40px;
  font-size: 18px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}


/* 플러스, 마이너스 */

main > section:first-child > div:nth-child(2) > ul > li > div > a {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  bottom: 2px;

  width: 40px;
  height: 40px;
  font-size: 20px;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
}


/* 좌석 선택 */

main > section:first-child > div:nth-child(3) {
  display: flex;

  width: 100%;
  border-bottom: 1px solid white;
}


main > section:first-child > div:nth-child(3) > div:first-child {
  width: 84%;
}

main > section:first-child > div:nth-child(3) > div:first-child > #screen_area {
  width: 100%;
  height: 30px;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  background-color: #888;
  margin: 0 0 36px 8%;
}


main > section:first-child > div:nth-child(3) > div:first-child > #seat_area {
  width: 100%;
  height: calc(320px + 200px/3);
  margin-left: 8%;
  margin-bottom: 80px;
  border-bottom: none;
}

/* 한 줄 */

#seat_area > div {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin-bottom: 7px;
} 

#seat_area > div:last-child {
  margin-bottom: 0;
}

/* 몇번째 줄인지? */

#seat_area > div > div {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: -45px;

  width: 25px;
  height: 25px;
  text-align: center;
}

/* 좌석 */

#seat_area > div > a {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 25px;
  height: 25px;
  margin-right: 5.98px;
  border: 1px solid white;
}

#seat_area > div > a * {
  font-size: 12px;
}

/* 예매완료된 좌석 */

#seat_area > div > a.selected {
  background-color: lightslategray;
  border-color: lightslategray;
}

/* 선택 중인 좌석 */

#seat_area > div > a.selecting {
  background-color: #FF243E;
  border-color: #FF243E;
}

/* 장애인석 */

#seat_area > div > a.impared {
  background-color: #008000;
  border-color: #008000;
}

#seat_area > div > a.impared.selecting {
  background-color: #FF243E;
  border-color: #FF243E;
}

/* 스위트석 */

#seat_area > div > a.sweet {
  background-color: hotpink;
  border-color: hotpink;
}

#seat_area > div > a.sweet.selecting {
  background-color: #FF243E;
  border-color: #FF243E;
}

/* 통로 */
#seat_area > div > a.aisle {
  cursor: auto;
  border: none;
}

/* 공간 */
#seat_area > div > a.space {
  cursor: auto;
  border: none;
  opacity: 0;
}


/* 선택 가능한 좌석 - hover*/

#seat_area > div > a:not(.selected, .selecting, .aisle, .space):hover {
  background-color: orange;
  border-color: orange;
}


#seat_area > div > a:last-child {
  margin-right: 0;
}




/* 좌석 종류 */

main > section:first-child > div:nth-child(3) > div:last-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16%;
  max-width: 20%;
}

main > section:first-child > div:nth-child(3) > div:last-child > div {
  position: relative;
  top: 62.5px;
  display: flex;
  height: 22px;
  margin: 5px 0;
}

main > section:first-child > div:nth-child(3) > div:last-child > div:nth-child(3) {
  margin-bottom: 22px;
}

main > section:first-child > div:nth-child(3) > div:last-child > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 1.5px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  font-weight: bold;
}

main > section:first-child > div:nth-child(3) > div:last-child > div > span {
  height: 22px;
  line-height: 22px;
  font-size: 14px;
}


/* 예매 결과 */

main > section:first-child > div:last-child {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(400px/3);
  color: white;
  padding-left: 4%;
}

main > section:first-child > div:last-child > div {
  height: 100px;
  margin-right: 4%;
}

/* 썸네일 + 영화 정보 */

main > section:first-child > div:last-child > div:first-child {
  border-right: 1px solid white;
  display: flex;
  width: calc(100%/3);
}


/* 썸네일 */

main > section:first-child > div:last-child > div:first-child > #movie_thumb {
  width: 61.4px;
  height: 98px;
  border: 1px solid white;
  margin-right: 6%;
}

#movie_thumb > img {
	width: 100%;
	height: 100%;
}

/* 영화 정보 */

main > section:first-child > div:last-child > div:first-child > #movie_detail {
  width: 74%;
  height: 100px;
  font-size: 14px;
}

/* 연령 + 제목 */

#movie_detail > div:first-child {
  display: flex;
  width: 100%;
  height: 25px;
  line-height: 25px;
  margin: 6px 0 20px;
}


/* 연령 */

#movie_detail > div:first-child > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 12px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-right: 10px;
}

.age00 {
  background-color: #229c56;
}

.age12 {
  background-color: #E9b630;
}

.age15 {
  background-color: #DD7430;
}

.age18 {
  background-color: #D92B36;
}

/* 제목 */

#movie_detail > div:first-child > div:last-child {
  padding-right: 7.5%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
}


/* 상영 일시 */

#movie_detail > div:nth-child(2) {
  margin-bottom: 5px;
  font-size: 13px;
}

#movie_detail > div:nth-child(3) {
  font-size: 13px;
}


/* 상영관 + 좌석 */

main > section:first-child > div:last-child > div:nth-child(2) {
  width: 17.5%;
  border-right: 1px solid white;
  padding-top: 8px;
}

main > section:first-child > div:last-child > div:nth-child(2) > #seat_code {
  margin-top: 21px;
}

#seat_code > div {
  font-size: 13px;
}

#seat_code > div:first-child {
  margin-bottom: 5px;
}


/* 가격 */

main > section:first-child > div:last-child > #price_calc {
  width: 20%;
  font-size: 13px;
}

#price_calc > div {
  display: none;
  width: 100%;
  height: 20px;
  line-height: 22px;
  position: relative;
}

#price_calc > div > div {
  position: absolute;
  right: 17.5%;
}


/* 결제 */

main > section:first-child > div:last-child > div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  top: 0;
  right: 0;

  width: 18%;
  height: 99%;
  background-color: crimson;
  font-size: 22px;

  margin-right: 0;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

main > section:first-child > div:last-child > div:last-child > a {
  color: white;
}
