
.aside {
    width: 18%;
}

.container {
    width: 80%;
    margin-bottom: 70px;
}


.aside-ul-wrap {
    width: 100%;

}

.aslide-list {
    display: flex;
    flex-direction: column;
}

.aslide-list>li {
    width: 100%;
    height: 50px;
    line-height: 48px;
    display: flex;
    margin-bottom: 10px;

}

.aslide-list>li>a {
    width: 100%;
    height: 100%;
    padding-left: 10px;
}



.aslide-list>li>a {
    font-size: 1.1rem;
    font-weight: bold;
}

.aslide-list>li>a:hover {
    color: rgb(251, 251, 251);
    background-color: rgb(73, 73, 73);
}
