main>section {
    width: 1040px;
    margin: 0 auto;
    padding: 50px 30px 0 30px;
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap;
}

.aslide-list>li:nth-child(4)>a {
    background-color: rgb(73, 73, 73);
}

.aslide-list>li:nth-child(4)>a {
    color: rgb(251, 251, 251);
}


h2 {
    font-size: 1.8rem;
    padding: 0 0 30px 10px;
    border-bottom: 3px solid rgb(255, 196, 0);
    margin-bottom: 30px;
}

/* 검색 회색영역 */
.cont-search-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
    background-color: rgb(72 72 72);
}

/* 빠른검색 */
.cont-search-wrap>span {
    padding-right: 20px;
    font-size: 1.2rem;
    font-weight: 400;
}

.cont-search-wrap form {
    width: 60%;
    display: flex;
    height: 36px;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.cont-search-wrap form>input {
    width: 90%;
    border: none;
    color: rgb(21, 21, 21);
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cont-search-wrap form>button {
    width: 10%;
    border: none;
    outline: none;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cont-search-wrap form>button>img {
    width: 24px;
    height: 24px;
}

.btn-wrap {
    display: flex;
    flex-wrap: wrap;
}
.btn-wrap button {
    width:20%;
    height:50px;
    outline: none;
    border: none;
    border:1px solid rgb(73 73 73);
    background-color: rgb(21,21,21);
}

.btn-wrap button:nth-child(1){
    background-color: white;
    color:black;
}

.btn-wrap button:hover {
    background-color: white;
    color:black;
}

.list-wrap > p {
font-size: 0.8rem;
padding:10px 0;
border-bottom:1px solid rgb(73 73 73);
}

.list-wrap > p > span:nth-child(1){
    margin-right:5px;
}

.list-wrap > p > span {
    font-size: 0.8rem;
}

.cNumber > li > div{
    width:100%;
    height:100px;
    border:1px solid rgb(73 73 73);
    padding:25px 0 25px 25px;
    cursor: pointer;
}

.cNumber > li > div>p:nth-child(2){
    display: flex;
 
}

.cNumber > li > div>p:nth-child(2) > span:nth-child(1){
    width:90%;
}

.cNumber > li > div>p:nth-child(2) > span:nth-child(2){
    width:10%;
    text-align: center;
}

.qList_detail{
    width:100%;
    padding:20px 0 20px 20px;
    display: none;
}

.cNumber > li:nth-child(1) > ul > li:nth-child(1){
    display: block;
}

.pagination {

    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;    padding-top:30px;
  }

  .pagination li a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .pagination li.active {
    background-color: yellow;
  }
  
  .pagination li a:hover:not(.active) {
    background-color: yellow;
    color:black;
  }

  .block {
    display: block;
  }
  
  .none {
    display: none;
  }

  
.check-area{
	display:flex;
	justify-content:center;
	flex-direction:column;
	padding-top:20%;
	align-items:center;
	width:500px;
	height:500px;
	margin:0 auto;
    text-decoration: none;
    justify-content: space-around;
	text-align:left;
}
    
#pw-checker{
	text-align: left;
}

.check-area > p {
	font-size:1.5rem;
}

.check-area>div:nth-child(2){
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding-top:20px;
	}

#checkPw-input{
	color:black;
	width:45%;
	height:40px;
	padding-left:5px;
}



