/* 요기서부터 위에껀 전부 날리면됩니다. */


main {
    width: 1040px;
    height: 100%;
    padding: 50px 30px;
    margin: 0 auto;
}

main>div:nth-child(1) {

    padding-bottom: 30px;
    height: 100%;
}

/* 스토어 span*/
main>div:nth-child(1)>span {
    font-size: 1.6rem;
    font-weight: bold;
}

main>div:nth-child(2) {
    display: flex;
    margin-bottom: 80px;
}



/* 1번 div */
main>div:nth-child(2)>div:nth-child(1) {
    width: 55%;
    padding-right: 50px;
}


main>div:nth-child(2)>div:nth-child(1)>div {
    height: 100%;
}


main>div:nth-child(2)>div:nth-child(1)>div>img {
    width: 100%;
    height: 75%;
    border-radius: 10px;
}

/* 2번 div */
main>div:nth-child(2)>div:nth-child(2) {

    width: 45%;
}


/* 상세 정보 테이블*/
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 30px;

}

tbody>tr:nth-child(1)>th {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 0 22px;
    font-size: 24px;
}

tbody>tr:nth-child(2)>td:nth-child(1) {
    font-weight: bold;
}



th {

    text-align: left;

}

td {
    border-bottom: 1px solid #eeeeee;
    padding: 20px 0;
    font-size: 15px;

}


.price {
    font-weight: bold;

    font-size: 24px;
}





/* 계산버튼창*/
main>div:nth-child(2)>div:nth-child(2)>div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 40px;
}

main>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2px;
    width: 60px;

    font-size: 24px;
    color: white;


    cursor: pointer;
}

main>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    border-left: 1px solid white;
    border-right: 1px solid white;

}


/* 총 금액창 */
main>div:nth-child(2)>div:nth-child(2)>div:nth-child(3) {
    font-size: 15px;
    text-align: right;
    margin-bottom: 10px;
}

main>div:nth-child(2)>div:nth-child(2)>div:nth-child(3)>span {
    margin-left: 20px;
    font-size: 30px;
    color: #FF243E;
    ;
}

/* 구매하기 버튼창 */



main>div:nth-child(2)>div:nth-child(2)>div:nth-child(4)>a button {
    width: 100%;
    height: 47px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #FF243E;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
    vertical-align: middle;
    background-color: #FF243E;
    cursor: pointer;
}





main>div:nth-child(3) {
    width: 100%;
    overflow: hidden;

}


main>div:nth-child(3)>div:nth-child(1) {
    border-radius: 5px;
    border: 1px solid #d8d9db;
}


main>div:nth-child(3)>div:nth-child(1)>button {

    width: 100%;
    height: 39px;

    padding: 0 20px;
    border: 0;
    text-align: left;
    color: black;
    cursor: pointer;
    background-color: #d8d9db;
    font-weight: bold;
}



.content {
    display: block;
    margin: 0;
    padding: 20px;
}


main>div:nth-child(4) {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;

}

main>div:nth-child(4)>div:nth-child(1) {
    border-radius: 5px;
    border: 1px solid #d8d9db;
}

main>div:nth-child(4)>div:nth-child(1)>button {

    width: 100%;
    height: 39px;

    padding: 0 20px;
    border: 0;
    text-align: left;
    color: black;
    cursor: pointer;
    background-color: #d8d9db;
    font-weight: bold;
}

.content-2 {
    display: block;
    margin: 0;
    padding: 20px;
}

.navBar:nth-child(6)>a:nth-child(1) {
    color: rgb(255, 196, 0);
}