* {
    white-space: normal;

}


main {
    width: 100%;
}



#wrapper {
    width: 1040px;
    height: 100%;
    padding: 50px 30px;
    margin: 0 auto;

}


#wrapper>div {
    height: 500px;
    display: flex;

}




#wrapper>div:first-child>div:nth-child(1) {
    width: 30%;
}

/* 상품 정보*/
#wrapper>div:first-child>div:nth-child(1)>div:nth-child(1) {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;


}

#wrapper>div:first-child>div:nth-child(1)>div:nth-child(2) {
    width: 100%;
    height: 90%;

    border-left: 1px solid #a3a3a3;

    border-bottom: 1px solid #a3a3a3;

}


#wrapper>div:first-child>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) {

    width: 100%;
    height: 50%;
}

#wrapper>div:first-child>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 30px 30px 0px 30px;

}

#wrapper>div:first-child>div:nth-child(1)>div:nth-child(2)>div:nth-child(1) img {
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

#wrapper>div:first-child>div:nth-child(1)>div:nth-child(2)>div:nth-child(2) {

    width: 100%;
    height: 50%;
}

#wrapper>div:first-child>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>div:first-child {
    padding: 30px 45px 0px 45px;
    width: 100%;
    height: 50%;
    border-bottom: 1px solid #a3a3a3;

}

#wrapper>div:first-child>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>div:last-child {

    width: 100%;
    height: 50%;


}




#wrapper>div:first-child>div:nth-child(1)>div:nth-child(2)>div:nth-child(2)>div:first-child span {
    padding-left: 5px;
}

.tit {
    padding: 0px 10px 10px 10px;
}

.quantity {
    display: flex;
    padding: 0px 15px;
}


/* 상품정보2*/
#wrapper>div:first-child>div:nth-child(2) {
    width: 30%;
}

#wrapper>div:first-child>div:nth-child(2)>div:nth-child(1) {
    height: 10%;
    border-bottom: 1px solid #a3a3a3;
    border-top: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;

}

#wrapper>div:first-child>div:nth-child(2)>div:nth-child(2) {
    width: 100%;
    height: 90%;

    border-left: 1px solid #a3a3a3;
    ;

    ;
    border-bottom: 1px solid #a3a3a3;
    ;
}

#wrapper>div:first-child>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) {
    width: 100%;
    height: 70%;

    padding: 30px;
}


#wrapper>div:first-child>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) button {
    border: 2px solid #fff;
    cursor: pointer;
    background-color: #fff;
    height: 55px;
    width: 90px;
    border-radius: 5px;
    border-color: transparent;

}



#wrapper>div:first-child>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) button.active {
    border-color: #ffc400;

}








#wrapper>div:first-child>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) span {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    color: #666;
    font-weight: bold;
}



#wrapper>div:first-child>div:nth-child(2)>div:nth-child(2)>div:nth-child(2) {
    width: 100%;
    height: 30%;
}



/* 결제하기*/
#wrapper>div:first-child>div:nth-child(3) {
    width: 40%;
}

#wrapper>div:first-child>div:nth-child(3)>div:nth-child(1) {
    height: 10%;
    border: 1px solid #a3a3a3;
    display: flex;
    justify-content: center;
    align-items: center;

}

.payment {
    width: 100%;
    height: 90%;


}


.payment>div:nth-child(1) {
    width: 100%;
    height: 70%;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
    padding: 30px;
}

.payment>div:nth-child(1)>div:first-child {
    width: 100%;
    height: 100%;
}

.payment>div:nth-child(1)>div:first-child label {
    padding-left: 5px;
}


.payment>div:nth-child(1)>div:first-child>div:nth-child(1) {

    display: flex;
    justify-self: center;
    align-items: center;
}

.payment>div:nth-child(1)>div:first-child>div:nth-child(2) {
    padding: 10px 0px 10px 10px;

    width: 100%;
    height: 100%;

}

.payment>div:nth-child(1)>div:first-child>div:nth-child(2) li {
    display: flex;
    justify-content: space-between;
}

.payment>div:nth-child(1)>div:first-child>div:nth-child(2)>li:first-child>div {

    display: flex;
    justify-content: center;
    align-items: center;
}

.payment>div:nth-child(1)>div:first-child .chk_List li>div {
    display: flex;
    justify-content: center;
    align-items: center;
}




input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 1px solid #999;
    appearance: none;
    cursor: pointer;


}



input[type='checkbox']:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    background: url() no-repeat;
    background: url(../../images/storeimg/chk_8_2.png) no-repeat right 3px bottom 3px;
}


.payment>div:nth-child(1)>div:first-child>div:nth-child(2) li>button {
    display: inline-block;
    background: url(../../images/storeimg/arr_rg_6.png) no-repeat right 6px;
    border: 0 none;
    width: auto;
    padding: 0 10px 0 0;
    color: #666666;
    font-size: 8px;
    cursor: pointer;
}





.payment>div:nth-child(2) {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* border-right: 1px solid white; */
}

.payment>div:nth-child(2)>div:nth-child(1) {
    display: flex;
    /* background-color: rgb(54, 52, 52); */
    height: 47px;
    /* border-top: 1px solid #a3a3a3;
    ;
    border-bottom: 1px solid #a3a3a3;
    ;
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3; */
    border: 1px solid #a3a3a3;
    align-items: center;
    padding: 10px;
}

.payment>div>div:nth-child(1)>span {
    padding-left: 240px;
}

.payment>div>div:nth-child(2) {
    display: flex;
    /* background-color: rgb(54, 52, 52); */
    height: 47px;
    /* border-bottom: 1px solid white; */
    align-items: center;
    padding: 10px;
    /* border-right: 1px solid #a3a3a3; */
    border-right: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
}

.payment>div>div:nth-child(2)>span {
    padding-left: 240px;
}


.payment>div>div:nth-child(3) {
    display: flex;
    /* border-right: 1px solid #a3a3a3; */
    border-right: none;

}

.payment>div>div:nth-child(3)>button {
    width: 100%;
    height: 47px;
    display: inline-block;
    box-sizing: border-box;
    /* border-radius: 4px; */
    border: 1px solid #FF243E;
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;

    background-color: #FF243E;
    cursor: pointer;
}

.navBar:nth-child(6)>a:nth-child(1) {
    color: rgb(255, 196, 0);
}


/* 모달 */

.modal {
    background-color: rgba(212, 29, 29, 0);

    top: 10%;
}

.modal>:nth-child(1) {
    margin: auto;
    background-color: rgb(45, 44, 44);
    width: 800px;
    padding: 10px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal>:nth-child(2) {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    margin: auto;
    background-color: rgb(55, 54, 54);
    width: 800px;
    /* height: 550px; */

    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 0 1px 1px 1px solid blue;
}

.modal button {
    width: 50px;
}

.box_1 {
    background-color: rgb(43, 42, 42);
}

.box_1>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}







.tab-list {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

.tab-list>ul {
    display: flex;
}

.tab-list>ul>li>a {
    color: white;
    display: block;
    width: 100%;

    /* line-height: 40px; */

    text-align: center;

    font-size: 1.0667em;
    padding-left: 20px;

}

.tab-list>ul>li>a:hover {
    color: darkgoldenrod;


}








.terms-content {


    overflow: hidden;
    overflow-y: scroll;

    position: relative;
    height: 550px !important;
    margin: 10px 0 0 0;
    padding: 20px;
    border: 1px solid #ccc;
}






/* 모달 버튼*/
.box_btn {
    width: 780px;
    display: flex;
    justify-content: center;
}

.box_btn button {
    margin: 30px 5px;
    width: 150px;
    height: 40px;

    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;

    /* text-align: center; */

    background-color: #414141;
    cursor: pointer;

}