main {
    width: 100%;
}



#wrapper {
    width: 1040px;
    height: 100%;
    padding: 50px 30px;
    margin: 0 auto;

}


#wrapper>div {
    height: 750px;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
    /* border: 1px solid white; */
}

/* 결제완료 div */
#wrapper>div>div:nth-child(1) {
    border: 1px solid #414141;
    /* border: 1px solid white; */
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    background-color: #414141;
}




/* 두번째 div */
#wrapper>div>div:nth-child(2) {
    /* border: 1px solid white; */
    width: 100%;
    height: 95%;
    border-bottom: 1px solid #414141;
    border-left: 1px solid #414141;
    border-right: 1px solid #414141;

}

/* 두번째 div의 첫번째 div*/
#wrapper>div>div:nth-child(2)>div:nth-child(1) {
    /* border: 1px solid white; */
    width: 100%;
    height: 15%;
}

#wrapper>div>div:nth-child(2)>div:nth-child(1)>div:nth-child(1) {
    /* border: 1px solid white; */
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#wrapper>div>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: auto;
}


#wrapper>div>div:nth-child(2)>div:nth-child(1)>div:nth-child(1)>div>div:nth-child(2) {
    padding-left: 15px;
    /* padding-top: 5px; */
    font-size: 1em;
}






/* 두번째 div의 두번째 div*/
#wrapper>div>div:nth-child(2)>div:nth-child(2) {
    /* border: 1px solid white; */
    width: 100%;
    height: 60%;

    padding: 30px 100px 40px 100px;
}


#wrapper>div>div:nth-child(2)>div:nth-child(2)>div:nth-child(1) {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 5px;
}

.infor_wrap {
    width: 100%;
    height: 65%;
    display: flex;
}


/* 첫번째 div img */
.infor_wrap>div:nth-child(1) {
    width: 40%;
    height: 100%;
    padding: 30px 50px 30px 50px;


}

.infor_wrap>div:nth-child(1) img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}



/* 두번째 div  */
.infor_wrap>div:nth-child(2) {
    /* width: 60%; */
    height: 100%;
    padding: 30px 20px 10px 20px;
    display: flex;
    flex-direction: column;
}

.infor_wrap>div:nth-child(2) dd {
    white-space: normal;
    float: left;
    width: 300px;
    line-height: 1.4;
    margin: 4px 0;
    font-size: 15px;
}


.infor_wrap>div:nth-child(2) dl {
    display: inline-block;
    padding-bottom: 10px;

}


.infor_wrap>div:nth-child(2) dt {
    clear: both;
    float: left;
    width: 86px;
    line-height: 1.4;
    margin: 4px 0;
    font-size: 15px;
}


.infor_wrap>div:nth-child(2) dl:first-child {

    border-bottom: 1px solid white;

}

.infor_wrap>div:nth-child(2) dl:last-child {

    padding-top: 10px;

}






.payment_wrap {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #DDD;

    position: relative;
    padding: 20px 25px;
}

.payment_wrap>div:nth-child(1) {
    width: 160px;
    padding-left: 0;
}


.payment_wrap>div:nth-child(2) {
    width: 150px;
    /* margin-left: 50px; */
}

.payment_wrap>div:nth-child(3) {
    width: 215px;
    padding-right: 0;
}

.payment_wrap>div:nth-child(3)>div:nth-child(1) {
    width: 215px;
    padding-right: 0;
}

.payment_wrap dl:first-child {
    display: flex;

    float: left;
    line-height: 1.4;
    margin: 2px 0 6px;

}

.payment_wrap dl:last-child {
    display: flex;

    float: left;
    line-height: 1.4;
    margin: 2px 0 6px;

}

.payment_wrap dl:last-child dd {
    float: right;
    line-height: 1.4;
    margin: 2px 0 6px;
    /* font-size: 13px; */
    padding-left: 34.5px;

}



.payment_wrap dt {

    margin: 2px 0 6px;

}

.payment_wrap dd {
    float: right;
    line-height: 1.4;
    margin: 2px 0 6px;
    /* font-size: 13px; */
    padding-left: 30px;

}


.minus-icon {

    position: absolute;
    left: 227px;
    top: 28px;
}

.equals-icon {

    position: absolute;
    left: 465px;
    top: 28px;
}






/* 두번째 div의 세번째 div*/
#wrapper>div>div:nth-child(2)>div:nth-child(3) {
    /* border: 1px solid white; */
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#wrapper>div>div:nth-child(2)>div:nth-child(3)>a:nth-child(1) button {
    margin: 30px 5px;
    width: 150px;
    height: 40px;

    border-radius: 4px;
    border: 1px solid #FF243E;
    font-size: 14px;

    /* text-align: center; */

    background-color: #FF243E;
    cursor: pointer;


}

#wrapper>div>div:nth-child(2)>div:nth-child(3)>a:nth-child(2)>button {
    margin: 30px 5px;
    width: 150px;
    height: 40px;

    border-radius: 4px;
    border: 1px solid #414141;
    font-size: 14px;

    /* text-align: center; */

    background-color: #414141;
    cursor: pointer;


}

#wrapper>div>div:nth-child(2)>div:nth-child(3)>a:nth-child(3) button {
    margin: 30px 5px;
    width: 150px;
    height: 40px;

    border-radius: 4px;
    border: 1px solid rgba(207, 138, 9, 0.699);
    font-size: 14px;

    /* text-align: center; */

    background-color: rgba(207, 138, 9, 0.699);
    cursor: pointer;


}

.navBar:nth-child(6)>a:nth-child(1) {
    color: rgb(255, 196, 0);
}