
/* 사이드 css */
/* main>div:nth-child(2)>section:nth-child(1) */
.side-main {
    width: 25%;
    height: 100%;
    /* border-left: 3px solid rgb(200, 200, 200);
    border-bottom: 3px solid rgb(200, 200, 200);     */
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #FAE300;
}
.list-group{
    width: 100%;
    margin: 20px 0 0 0;
    /* border-top: 2px solid rgb(200, 200, 200); */
    /* border-top: 2px solid #FAE300; */
}
.list-group > li{
    list-style: none;
    height: 60px;
    font-size: 1rem;
    /* margin: 10px 0 10px 0; */
}
.list-group > li > a{
    text-decoration: none;
    /* width: 150px; */
    height: 100%;

    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    /* padding-bottom: 10px; */

    background-color: rgb(33, 33, 33);
    /* border-bottom : 2px solid rgb(200, 200, 200); */
    /* border-bottom: 2px solid #FAE300; */
}
.list-group > li > a:hover{
    color: #FAE300;
    background-color: rgb(44, 44, 44);
    /* border-bottom : 2px solid #FAE300; */
}
