@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-size: 1em;
    font-family: "GmarketSansMedium";
    /* color: rgb(222, 222, 222); */
    list-style-type: none;
}

.main_Wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #eee;
}

/* Nav 영역 */
#left_Nav_Container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
}

.nav_Title {
    width: 100%;
    height: 85px;
    border: 1px solid red;

    color: white;
}

/* Nav 안 슬라이더 */
.nav_Slide li:nth-child(n) {
    display: flex;
    width: 300px;
    min-height: 50px;
    color: white;
    margin-top: 20px;
}



.title_move {
    text-decoration: none;
    color: black;
    height: 50px;
}

.slide_Title {
    display: flex;
    align-items: center;
}

.selected_Title {
    background-color: #FAE300;
    color: black !important;
}

.title_move li:hover {
    background-color: #FAE300;
    color: black;
}

.slide_Content {
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
    /* border-bottom: 1px solid white; */
    margin-bottom: 10px;
}

.slide_Wrapper:hover {
    background-color: #FAE300;
    color: black;
}

.slide_Wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_Wrapper.active {
    background-color: #FAE300;
    color: black;
}

.align_Inner_Items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slide_Left_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.slide_Inner_Title {
    display: flex;
    width: 200px;
}

.slide_Right_Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.slide_Down_items {
    display: none;
    font-size: 0.8rem;
}

.slide_Down_items li {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.slide_Down_items li:hover {
    background-color: #FAE300;
    color: black;
}

.slide_Down_items a {
    text-decoration: none;
}

.inner_align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner_Left_Icon {
    padding-top: 4px;
    margin-right: 20px;
}



/* 우측 영역 */
.right_items_Container {
    display: flex;
    flex-direction: column;
    flex: 8.5;
    height: 100%;
}

#header_Wrapper {
    width: 100%;
    height: 85px;
    padding: 0 20px;
    background-color: white;
}

.header_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header_loge_Area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    margin-left: 20px;
}

.header_loge_Area>span:nth-child(2) {
    font-weight: bold;
}

.header_logout_Area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50px;
}

.header_logout_Area:hover {
    background-color: #720000;
}

/* 내부 아이템 영역 */
#items_Wrapper {
    display: flex;
    flex: 1;
}

.set_Edge {
    flex: 1;
    display: flex;
    margin: 20px 18px;
    background-color: white;
}

.table_Wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 30px 30px;

}

.table_Title {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5vh;
    border-bottom: 2px solid black;
    justify-content: space-between;
}

.table_Title span {
    margin-left: 30px;
    font-size: 2rem;
    margin-bottom: 15px;
}

.search_Box {
    display: flex;
    width: 350px;
    height: 25px;
    margin-bottom: 15px;
}

.search_Box input {
    flex: 9;
}

.search_Box button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.table_main tr {
    width: 100%;
    height: 6.5vh;
    text-align: center;
}

.table_main th,
.table_main td {
    vertical-align: middle;
}

.table_main th {
    font-weight: bold;
}

.table_main td {
    font-size: 0.8rem;
}

.table_main tr:nth-child(2n) {
    background-color: #dbdbdb;
}

.page_Nation {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page_Nation div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
}

.page_Nation div:hover {
    background-color: #eee;
}

.selected_Cp {
    border-radius: 5px;
    font-weight: bold;
    background-color: #ddd;
}