@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-size: 1em;
    font-family: "GmarketSansMedium";
    /* color: rgb(222, 222, 222); */
    list-style-type: none;
}


.main_Wrapper {
    display: flex;
    border: 1px solid red;
    width: 100vw;
    height: 100vh;
    background-color: #eeeeee;
}

/* Nav 영역 */
#left_Nav_Container {
    flex: 1.5;
    border: 1px solid red;
    background-color: #333333;
}

.nav_Title {
    width: 100%;
    height: 85px;
    border: 1px solid red;
}


/* 우측 영역 */
.right_items_Container {
    flex: 8.5;
    border: 1px solid red;
    height: 100%;
}

#header_Wrapper {
    width: 100%;
    height: 85px;
    border: 1px solid red;
    padding: 0 20px;
}

.header_Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header_loge_Area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 160px;
    height: 65px;
}

.header_logout_Area {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 200px;
    height: 65px;
}

/* 내부 아이템 영역 */
#items_Wrapper {
    display: flex;
    border: 1px solid red;
}

.left_Item_Container {
    flex: 7;
    height: 100vh;
    border: 1px solid red;
}

.right_Item_Container {
    flex: 3;
    border: 1px solid red;
}