

/* =============================================================== */
/* 아래부터 추가하세요. */

main {
    /* width: 1160px;
    height: 3000px;
    border: 1px solid red;
    margin: 0 auto;
    padding: 0 20px; */

    width: 100%;
    margin: 0 auto;
}

main>div {
    padding: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
}


main>div>div {
    width: 400px;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    border-radius: 10px;
    background-color: rgb(33, 33, 33);
    padding-bottom: 23px;
}

/* 프레임 */
main>div>div>div {
    width: 80%;
    height: 100%;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 로고 영역  */
main>div>div>div>:nth-child(1) {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 인증 성공! */
main>div>div>div>:nth-child(1)>:nth-child(1) {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(250, 227, 0);
    padding: 25px;
}

/* 입력하신 이메일로 비밀번호가 발송되었습니다. */
main>div>div>div>:nth-child(1)>:nth-child(2) {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(222, 222, 222);
    padding: 15px;
}

/* form */
main>div>div>div>:nth-child(2) {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

main>div>div>div>:nth-child(2)>form {
    width: 90%;
    height: 80%;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main>div>div>div>:nth-child(2)>form>div {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

main>div>div>div>:nth-child(2)>form>div>:nth-child(1)>div {
    display: flex;
    flex-direction: column;
}

/* 로그인 하러가기 btn */
main>div>div>div>:nth-child(2)>form>div>:nth-child(1)>:nth-child(1)>:nth-child(1) {
    width: 365px;
    height: 40px;

    border-radius: 5px;
    background-color: rgba(100, 100, 100);
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 20px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin: 10px 0;
    outline: none;
    border: none;
}

main>div>div>div>:nth-child(2)>form>div>:nth-child(1)>:nth-child(1)>:nth-child(1):hover {
    color: rgb(250, 227, 0)
}