main>form>div {
	padding-bottom: 110px;
}

main>form>:nth-child(1) {
    display: flex;
    flex-direction: column;

    align-items: center;
}

/* 비밀번호 재설정 */
main>form>:nth-child(1)>:nth-child(1) {
    font-size: 2rem;

	padding-top: 100px;
    padding-bottom: 30px;
}
/* 새로운 비밀번호를 기입해주세요 */
main>form>:nth-child(1)>:nth-child(2) {
    font-size: 0.8rem;

    padding-bottom: 10px;
}

/* 비밀번호 */
main>form>:nth-child(1)>:nth-child(3) {
    margin-bottom: 15px;
}

/* 비밀번호 확인 */
main>form>:nth-child(1)>:nth-child(4) {
    
}



input {
    background-color: rgba(205, 207, 208, 0);

    margin-left: 10px;
    margin-right: 5px;
    width: 300px;
    height: 40px;
}

input::placeholder {
    text-indent: 10px;
}


/* 비밀번호 재설정 버튼 */
button {
    border-radius: 5%;
    border: none;
    margin: 40px;
    
    width: 200px;
    height: 50px;
    
    
}