main>:nth-child(1)>div {
    margin: 10px;

    width: 100%;
    height: 600px;


    display: flex;

    justify-content: center;
}

main>:nth-child(1)>div>div {
    margin: 10px 0 0 0;
    padding: 50px 20px 20px 20px;

    width: 60%;
    height: 80%;

    border: 1px solid rgb(255, 255, 255);
}

/* 타이틀 영역 */
main>:nth-child(1)>div>div>:nth-child(1) {
    padding: 0 0 26px 0;
    font-size: 2rem;

    border-bottom: 1px solid rgb(255, 255, 255);

    display: flex;
    flex-direction: row;

    justify-content: center;

    align-items: flex-end;

}

/* 예매 결제 완료 span */
main>:nth-child(1)>div>div>:nth-child(1)>span {
    font-size: 2rem;
}






/* 할인&혜택 영역 */
main>:nth-child(1)>div>div>:nth-child(2) {
    padding: 20px 0 20px 0;
    margin: 50px 0 50px 0;

    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-around;
    
}

main>:nth-child(1)>div>div>:nth-child(2)>:nth-child(1) {
    font-size: 1.3rem;
}
main>:nth-child(1)>div>div>:nth-child(2)>:nth-child(2) {
    font-size: 1.3rem;
}
main>:nth-child(1)>div>div>:nth-child(2)>:nth-child(3) {
    visibility: hidden;
}




/* 결제 api 전 단계 영역 */
main>:nth-child(1)>div>div>:nth-child(3) {
    border-top: 1px solid white;


    width: 100%;
    height: 10%;

    display: flex;
    flex-direction: column;

    align-items: center;
}

table {


    width: 100%;
    height: 100%;
}

.minus {
    font-size: 20px;
}

/* 결제하기 영역 */
main>:nth-child(1)>div>div>:nth-child(4) {
    width: 100%;
    height: 20%;



    display: flex;

    justify-content: center;
    align-items: center;
}

main>:nth-child(1)>div>div>:nth-child(4)>div {
    width: 25%;
    height: 50%;

    display: flex;
    justify-content: center;

}

.goMain {
    width: 100%;
    height: 100%;
}

.bottom_area {
    background-color: #494239;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}



/* /////////////////////////////////////////////////////////////////// */
