/* 전체 틀 잡아주는 css */
main>section {
	width: 100vw;
	height: 100vh;
	margin: auto;
	padding: 50px 30px 70px 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items:center;
}
 

.check-area {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 700px;
	height: 700px;
	margin: 0 auto;
	border: 2px solid rgb(255, 196, 0);
	border-radius: 10px;
	
}

.check-area p {
	text-align: center;
	padding:10px;
}

.check-area p:nth-child(2){
	font-size:3rem;
	font-weight:bold;
}

.check-area p:nth-child(3){
	font-size:1.5rem;
	font-weight:bold;
	line-height: 1.5;
}

.check-area p:nth-child(4){
		line-height: 1.5;
}


.btn_wraper {
	display: flex;
	justify-content: space-around;
}

.btn_wraper button {
	margin-top: 20px;
	width: 150px;
	height: 50px;
	background-color: rgb(49, 49, 49);
	outline: none;
	border: none;
}

.btn_wraper button:nth-child(1) {
	margin-right: 10px;
}

.btn_wraper button:hover {
	background-color: rgb(255, 196, 0);
	color: black;
	cursor: pointer;
}

a.hover {
	color: black;
}

.replyComplete{
	color: #FFC400;
}

