/* 전체 틀 잡아주는 css */
main>section {
    width: 1040px;
    margin: 0 auto;
    padding: 50px 30px 70px 30px;
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap;
}


.notice-wraaper>div:nth-child(2) {
    width: 82%;
}
 
/* 여기까지  왼쪽 ui관련 재활용 계속해야합니당.*/


.content-wrap {
    width: 100%;
    height:480px;
    display:flex;
    flex-direction: column;
     border-bottom:1px solid rgb(73, 73, 73);
}

h2 {
    font-size: 1.8rem;
    padding: 0 0 30px 10px;
    border-bottom: 2px solid rgb(255, 196, 0);
    height:82px;
}

.notice-contents {
    display: flex;
    flex-direction: column;
}


.notice-contents>div:nth-child(1) {
    padding: 10px 0 10px 0;
    height:40%;

}

.notice-contents>div:nth-child(1)>span {
        font-size:1.5rem;
    font-weight: 400;

  
}

.notice-contents>div:nth-child(2) {
    padding: 10px 0 10px 0;
      height:30%;
	  display: flex;
	  justify-content: space-between;
}


.notice-contents>div:nth-child(2) >span>span{
	padding:0 5px;
}

.notice-contents>div:nth-child(3) {
    border-top: 1px solid rgb(73, 73, 73);
    padding: 15px 0;
    padding-bottom: 30px;
    height:64%;
   
}

.content-wrap>div:nth-child(3) {

    border-top: 1px solid rgb(73, 73, 73);
    

}


.prev-page,
.next-page {
    height: 50px;
    line-height: 48px;
    display: flex;
}

.next-page {
    border-top: 1px solid rgb(73, 73, 73);
}

.prev-page>p,
.next-page>p {
    width: 15%;
    text-align: center;
    background-color: rgb(21, 21, 21);
}


.prev-page>a,
.next-page>a {
    padding-left: 20px;
}

.prev-page>a:hover,
.next-page>a:hover {
    text-decoration: underline;
    color: rgb(251, 251, 251)
}


.contentText-wrap{
	word-wrap: break-word;
	white-space: normal;

}

.reply_wrap{
	display:flex;
	height:100px;
	margin-top:30px;
}

.reply_wrap textarea{
	width:88%;
	height:100px;
	 border: none;
    resize: none;
    outline: none;
    color: black;
    padding:10px;
}

.reply_wrap button{
	width:12%;
	background-color:rgb(61,61,61);
	border:none;
	outline:none;
	
}

.contentText-wrap{
	word-wrap: break-word;
	white-space: normal;

}

.btn_wraper {
	display:flex;
	justify-content:right;
}

.btn_wraper a {
	color:white;
}

.btn_wraper button{
	margin-left:15px;
	margin-top:30px;
		width:105px;
	height:41px;
	background-color:rgb(49,49,49);
	outline:none;
	border:none;
	border-radius: 5px;
}

.btn_wraper button:hover{
	background-color: rgb(255, 196, 0);
	color:black;
	cursor:pointer;
}

a.hover {
   color:black;
}


.reply{
	border: 1px solid rgb(255, 196, 0);
	background-color:black;
	border-radius: 10px;
}

.reply-info p {
	font-size:1.2rem;
	padding:10px 20px;
	color: rgb(255, 196, 0);
	font-weight: bold;
	
}

.reply-writer-info{
	display:flex;
	justify-content:right;
	border-bottom:1px solid rgb(73,73,73);
}

.reply-writer-info > span{
	padding:10px 5px;
}

.reply-content{
	padding:15px 20px;
}

.reply_delete{
	margin-top:10px;
	width:100%;
	height:50px;
	background-color:black;
	display:flex;
	justify-content: center;
	line-height:48px;
	cursor:pointer;
	border-radius: 10px;
	
	outline:none;
	border: 1px solid rgb(255, 196, 0);
}

.reply_delete a{
	color:white;
	font-size:1.2rem;
	font-weight:bold;
	width:100%;
	height:100%;
	border-radius: 10px;
}

.reply_delete a:hover{
	background-color:red;
}

.imageArea{
	margin: 30px 0;
	display: flex;
}

.imageArea img {
	max-height: 200px;
	cursor: pointer;
}

.aslide-list>li:nth-child(5)>a {
    background-color: #FFC400;
}

.aslide-list>li:nth-child(5)>a {
    color: black;
}