/* 전체 틀 잡아주는 css */
main>section {
    width: 1040px;
    margin: 0 auto;
    padding: 50px 30px 70px 30px;
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap;
}

.aslide-list>li:nth-child(3)>a {
    background-color: rgb(73, 73, 73);
}

.aslide-list>li:nth-child(3)>a {
    color: rgb(251, 251, 251);
}

.notice-wraaper>div:nth-child(2) {
    width: 82%;
}

/* 여기까지  왼쪽 ui관련 재활용 계속해야합니당.*/

.notice-header {
    border-bottom: 20px;
    border-bottom: 2px solid rgb(255, 196, 0);
    padding: 0 0 20px 10px;
}

.notice-header>p {
    font-size: 0.8rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.search-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 25px 0;
}

.search-area>p {
    line-height: 28px;
}

.search-area>p>span {
    padding: 0 5px;
}

.search-area>div {
    width: 40%;
    height: 100%;
    display: flex;

    padding: 0 10px;

}

.search-area>div>input {
    width: 70%;
    background-color: transparent;
    outline: none;
    border: none;
}

.search-area>div>button {
    width: 30%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    background-color: white;
    color: black;
}

.table-wrap {
    width: 784px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead * {
    padding:10px;   border-bottom: 2px solid rgb(73, 73, 73);
}


thead th:nth-child(1) {
    width: 15%;
    height:50px;
}

thead th:nth-child(2) {
    width: 65%;
}

thead th:nth-child(3) {
    width: 15%;
}
thead th:nth-child(4) {
    width: 15%;
}



tbody{
    text-align: center;
}

.row *{
    padding:10px;
    height:40px;
    border-bottom: 1px solid rgba(73, 73, 73, 0.4);
}

.row td:nth-child(2) {
    text-align: left;
    max-width:450px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding:10px
}

.row td:nth-child(2) > a:hover{
    text-decoration: underline;
    color:rgb(251, 251, 251);
}

.page_Nation {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;    padding-top:30px;
  }

  .page_Nation div{
    width:30px; height:30px;
    border:1px solid rgba(73, 73, 73, 0.4);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .page_Nation div a {
    width:100%;
    height:100%;
    line-height: 28px;
  }
  .block {
    display: block;
  }
  
  .none {
    display: none;
  }

.table-wrap> div:nth-child(2) {
    margin-top:20px;
    display: flex;
    justify-content: right;
    right:0;
}

.table-wrap> div:nth-child(2) > button {
    background-color: rgb(73, 73, 73);
    padding:10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.table-wrap> div:nth-child(2) > button:hover{
    background-color: white;
    color: black;
}
  
.check-area{
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	width:300px;
	height:300px;
	margin:0 auto;
	border: 2px solid rgb(255, 196, 0);
	border-radius:10px;
	margin-top:70px;
}

.check-area > p {
	font-size:1.5rem;
}

.check-area>div:nth-child(2){
	width:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	padding-top:20px;
	}

#checkPw-input{
	color:black;
	width:80%;
	height:40px;
	padding-left:5px;
}

#pw-checker{
	margin-top:5px;
	color:red;
}


.btn_wraper {
	display:flex;
	justify-content: space-around;
	
}

.btn_wraper button{
	margin-top:20px;
		width:105px;
	height:35px;
	background-color:rgb(49,49,49);
	outline:none;
	border:none;
}

.btn_wraper button:nth-child(1){
	margin-right:10px;
}

.btn_wraper button:hover{
	background-color: rgb(255, 196, 0);
	color:black;
	cursor:pointer;
}

a.hover {
   color:black;
}

