/* 전체 틀 잡아주는 css */
main>section {
    width: 1040px;
    margin: 0 auto;
    padding: 50px 30px 70px 30px;
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap;
}

.aslide-list>li:nth-child(2)>a {
    background-color: rgb(73, 73, 73);
}

.aslide-list>li:nth-child(2)>a {
    color: rgb(251, 251, 251);
}

.notice-wraaper>div:nth-child(2) {
    width: 82%;
}

/* 여기까지  왼쪽 ui관련 재활용 계속해야합니당.*/

.notice-header {
    border-bottom: 20px;
    border-bottom: 2px solid rgb(255, 196, 0);
    padding: 0 0 20px 10px;
}

.notice-header>p {
    font-size: 0.8rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.search-area {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 25px 0;
}

.search-area>p {
    line-height: 28px;
}

.search-area>p>span {
    padding: 0 5px;
}

.search-area form {
    width: 40%;
    height: 100%;
    display: flex;
    border-left: 1px solid rgb(73, 73, 73);
    border-right: 1px solid rgb(73, 73, 73);
    padding: 0 10px;

}

.search-area input {
    width: 70%;
    background-color: transparent;
    outline: none;
    border: none;
}

.search-area button {
    width: 30%;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    background-color: white;
    color: black;
}

.table-wrap {
    width: 784px;
    
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead * {
    padding:10px;   border-bottom: 2px solid rgb(73, 73, 73);
}


thead th:nth-child(1) {
    width: 10%;
    height:50px;
}

thead th:nth-child(2) {
    text-align: center;
    width: 60%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 10%;
}

.count-td td{
    padding:10px;
    height:40px;
    border-bottom: 1px solid rgba(73, 73, 73, 0.4);
    text-align:center;
}

.count-td td:nth-child(2) {
    text-align: left;
    max-width:450px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding:10px;
}

.count-td td:nth-child(2) > a:hover{
    text-decoration: underline;
    color:rgb(251, 251, 251);
}



.page_Nation {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;    padding-top:30px;
  }

  .page_Nation div{
    width:30px; height:30px;
    border:1px solid rgba(73, 73, 73, 0.4);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .page_Nation div a {
    width:100%;
    height:100%;
    line-height: 28px;
  }


  .highlight{
    background-color:rgba(255, 196, 0.3);
    color:black;
  }
  