/* 전체 틀 잡아주는 css */
main>section {
	width: 1040px;
	margin: 0 auto;
	padding: 50px 30px 70px 30px;
	display: flex;
	justify-content: space-between !important;
	flex-wrap: wrap;
}

.aslide-list>li:nth-child(3)>a {
	background-color: rgb(73, 73, 73);
}

.aslide-list>li:nth-child(3)>a {
	color: rgb(251, 251, 251);
}

* {
	box-sizing: border-box;
	font-size: 1em;
	font-family: "GmarketSansMedium";
	/* color: rgb(222, 222, 222); */
	list-style-type: none;
}

/* 테이블 테두리 설정 */
.innerTable {
	border-collapse: collapse;
}

/* 테이블 th 크기 및 텍스트 우측 정렬 */
.innerTable th {
	text-align: right;
	padding-right: 30px;
}

/* 테이블 tr 테두리 지정 */
.innerTable tr {
	border-bottom: 0.1px solid rgb(73, 73, 73);
}

/* 테이블 tr 호버 시 배경색 */
.innerTable tr:hover {
	background-color: rgb(73, 73, 73);
}

/* 제목, 문의종류, 첨부파일 크기 지정  */
.content_inner input, select {
	width: 100%;
	height: 60px;
	background-color: transparent;
	border: none;
}

/* placeholder 글씨 색상 */
.content_inner input::placeholder {
	color: white
}

/* 문의 종류 글씨 색상 */
.content_inner select {
	color: white;
}

/* 문의 종류 클릭 시 나오는 창의 글씨 색상 */
.content_inner option {
	color: black
}

/* 문의 종류에서 첫번째 '문의내용을 선택해주세요'의 색상 */
.content_inner option:nth-child(1) {
	background-color: #ddd;
}

/* 첨부파일 가운데 정렬이 되지 않아 강제로 옮김 */
.align_File {
	padding-top: 15px;
}

/* 문의 내용 입력 컨테이너 */
#writeForm {
	display: flex;
	justify-content: flex-end;
	padding: 20px 10px;
}

/* 문의 내용 제목 영역 */
.inner_Textarea_Title {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 30px;
}

/* Textarea, 입력 영역 */
.inner_Textarea {
	width: 77%;
	height: 30vh;
	color: black;
	resize: none;
	background-color: #eee;
	padding: 15px 20px;
}

/* 버튼 영역 간격 지정 */
.btn_Container>button:nth-child(1) {
	margin-right: 30px;
}

/* 첨부파일 버튼 디자인 적용 */
input[type=file]::file-selector-button {
	width: 100px;
	height: 30px;
	background: rgb(126, 126, 126);
	color: white;
	border: 1px solid rgb(77, 77, 77);
	border-radius: 5px;
	cursor: pointer;
}

.notice-wraaper>div:nth-child(2) {
	width: 82%;
}

/* 여기까지  왼쪽 ui관련 재활용 계속해야합니당.*/
.content-wrap {
	width: 100%;
	height: 100%;
	flex-direction: column;
}

h2 {
	font-size: 1.8rem;
	padding: 0 0 30px 10px;
	border-bottom: 2px solid rgb(255, 196, 0);
}

.notice-contents {
	display: flex;
	flex-direction: column;
}

.notice-contents>div:nth-child(1) {
	padding: 20px 0 10px 0;
}

.notice-contents>div:nth-child(1)>span {
	font-size: 1.1rem;
	font-weight: 400;
}

.notice-contents>div:nth-child(2) {
	padding: 10px 0 20px 0;
}

.notice-contents>div:nth-child(3) {
	border-top: 1px solid rgb(73, 73, 73);
	padding: 15px 0;
	margin-bottom: 30px;
}

.content-wrap>div:nth-child(3) {
	border-top: 1px solid rgb(73, 73, 73);
	border-bottom: 1px solid rgb(73, 73, 73);
}

.prev-page, .next-page {
	height: 50px;
	line-height: 48px;
	display: flex;
}

.next-page {
	border-top: 1px solid rgb(73, 73, 73);
}

.prev-page>p, .next-page>p {
	width: 15%;
	text-align: center;
	background-color: rgb(21, 21, 21);
}

.prev-page>a, .next-page>a {
	padding-left: 20px;
}

.prev-page>a:hover, .next-page>a:hover {
	text-decoration: underline;
	color: rgb(251, 251, 251)
}

.content-wrap>div:last-child {
	padding: 30px;
	display: flex;
	justify-content: center;
}

.content-wrap>div:last-child>button {
	width: 150px;
	height: 50px;
	font-size: 1.2rem;
	background-color: rgb(73, 73, 73);
	color: rgb(251, 251, 251);
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	border: none;
}

.content-wrap>div:last-child>button:hover {
	background-color: rgb(251, 251, 251);
	color: rgb(21, 21, 21);
}

.btn_wraper {
	display: flex;
	justify-content: right;
}

.btn_wraper button {
	margin-left: 15px;
	margin-top: 30px;
	width: 105px;
	height: 41px;
	background-color: rgb(49, 49, 49);
	outline: none;
	border: none;
}

.btn_wraper button:hover {
	background-color: rgb(255, 196, 0);
	color: black;
	cursor: pointer;
}

a.hover {
	color: black;
}

.label_box {
	height: 60px;
}

#checkbox1 {
	width: 30px;
	height: 30px;
}

.addfileList {
	padding: 10px;
	display: flex;
}

.upimgList {
	position:relative;
}

.upimgList span{
	position:absolute;
	top:0;
	right:10px;
	width:20px;
	height:20px;
	background-color:white;
	color:black;
	border:1px solid black;
	font-size:1rem;
	text-align:center;
	line-height:18px;
}

.upimgList img {
	width: 100px;
	height: 100px;
	padding-right:10px;
	
}
