/* 전체 틀 잡아주는 css */
main>section {
    width: 1040px;
    margin: 0 auto;
    padding: 50px 30px 70px 30px;
    display: flex;
    justify-content: space-between !important;
    flex-wrap: wrap;
}

.aslide-list>li:nth-child(4)>a {
    background-color: rgb(73, 73, 73);
    color: rgb(251, 251, 251);
}

.notice-wraaper>div:nth-child(2) {
    width: 82%;
}

/* 여기까지  왼쪽 ui관련 재활용 계속해야합니당.*/

.content-wrap {
    width: 100%;
    height:480px;
    display:flex;
    flex-direction: column;
    border-bottom:1px solid rgb(73, 73, 73);
}

h2 {
    font-size: 1.8rem;
    padding: 0 0 30px 10px;
    border-bottom: 2px solid rgb(255, 196, 0);
    margin-bottom: 0;
}

.notice-contents {
    display: flex;
    flex-direction: column;
}

.notice-contents>div:nth-child(1) {
    padding: 10px 0 10px 0;
    height:40%;
}

.notice-contents>div:nth-child(1)>span {
    font-size: 1.5rem;
    font-weight: 400;
}

.notice-contents>div:nth-child(2) {
    padding: 10px 0 10px 0;
    height:30%;
    display:flex;
    justify-content:right;
}

.notice-contents>div:nth-child(2) >span>span{
	padding:0 5px;
}

.notice-contents>div:nth-child(3) {
    border-top: 1px solid rgb(73, 73, 73);
    padding: 15px 0;
    padding-bottom: 30px;
    height:64%;
   
}

.content-wrap>div:nth-child(3) {
    border-top: 1px solid rgb(73, 73, 73);
}


.content-wrap>div:last-child>button {
    width: 150px;
    height: 50px;
    font-size: 1.2rem;
    background-color: rgb(73, 73, 73);
    color: rgb(251, 251, 251);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
}

.content-wrap>div:last-child>button:hover {
    background-color: rgb(251, 251, 251);
    color: rgb(21, 21, 21);
}

.reply_wrap{
	display:flex;
	height:100px;
	margin-top:30px;
}

.reply_wrap textarea{
	width:88%;
	height:100px;
	 border: none;
    resize: none;
    outline: none;
    color: black;
    padding:10px;
}

.reply_wrap button{
	width:12%;
	background-color:rgb(61,61,61);
	border:none;
	outline:none;
	
}

.contentText-wrap{
	word-wrap: break-word;
	white-space: normal;

}

.btn_wraper {
	display:flex;
	justify-content:right;
}

.btn_wraper button{
	margin-left:15px;
	margin-top:30px;
		width:105px;
	height:41px;
	background-color:rgb(49,49,49);
	outline:none;
	border:none;
}

.btn_wraper button:hover{
	background-color: rgb(255, 196, 0);
	color:black;
	cursor:pointer;
}

a.hover {
   color:black;
}


.reply{
	margin-top:30px;
	border: 1px solid rgb(255, 196, 0);
	background-color:black;
}

.reply-info p {
	font-size:1.2rem;
	padding:10px 20px;
	color: rgb(255, 196, 0);
	font-weight: bold;
	
}

.reply-writer-info{
	display:flex;
	justify-content:right;
	border-bottom:1px solid rgb(73,73,73);
}

.reply-writer-info > span{
	padding:10px 5px;
}

.reply-content{
	padding:15px 20px;
}

.reply_delete{
	margin-top:10px;
	width:100%;
	height:50px;
	background-color:black;
	display:flex;
	justify-content: center;
	line-height:48px;
	cursor:pointer;
	
	outline:none;
	border: 1px solid rgb(255, 196, 0);
}

.reply_delete a{
	color:white;
	font-size:1.2rem;
	font-weight:bold;
	width:100%;
	height:100%;
}

.reply_delete a:hover{
	background-color:red;
}


