/* 랜덤한 영화 뿌려주는 jsp의 css */
.event-wrap {
    margin-top: 30px;
}

.event-wrap>div:nth-child(1) {
    width: 803px;
    overflow: hidden;

}

.event-title {
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.event-title>a {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 30px;
}

.event-title>a:hover {
    color: #FCFCFC;
}

.event-title>div {
    width: 145px;
    height: 60px;
    display: flex;
}

.event-title>div>button {
    width: 100%;
    height: 40px;
    background-color: #494949;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    color: #FFff;
    border: none;
}

.event-title>div>button:hover {
    background-color: #FCFCFC;
    color: #191919;
}

.swiper-container {
    position: relative;
    display: flex;
}


.swiper-slide {
    padding: 0 20px;
    justify-content: space-around;
}


.swiper-slide>a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.swiper-slide>a>img {
    border-radius: 10px;
    height: 220px;
}



.swiper-slide>a>strong {
    font-size: 1.2rem;
    padding: 5px;
}


.swiper-container>div:nth-child(2)::after,
.swiper-container>div:nth-child(3)::after {
    font-size: 1rem;
    color: black;
}

.swiper-container>div:nth-child(2),
.swiper-container>div:nth-child(3) {
    position: absolute;
    width: 44px;
    height: 44px;
    color: transparent;
    background-color: white;
    border-radius: 50%;
    line-height: 42px;
    opacity: 0.9;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    top: 110px;
    z-index: 5;
}

.swiper-container>div:nth-child(2):hover,
.swiper-container>div:nth-child(3):hover {
    background-color: rgb(255, 196, 0);
}

.swiper-container>div:nth-child(2) {
    right: 0;
}

.swiper-container>div:nth-child(3) {
    left: 0;

}