/* aSide 고정 사이드 바 jsp의 css */

/* side and conatiner box */
.asideAconatiner{
    width: 100%;
    min-height: 450px;
    display: flex;
    justify-content: space-between !important;
    list-style-type: none;
    color: #FCFCFC;
    white-space: nowrap;
    margin-bottom: 50px;
}

/* .aside {
    width: 18%;
    height: 700px;
} */

.container {
    width: 80%;
    margin-bottom: 30px;
}

.aside-ul-wrap {
    width: 100%;
    position: sticky;
    top: 50px;
}

.aslide-list {
    display: flex;
    flex-direction: column;
}

.aslide-list>li {
    width: 100%;
    height: 50px;
    line-height: 48px;
    display: flex;
    margin-bottom: 10px;
}

.aslide-list>li>a {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.aslide-list>li>a {
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
}

.aslide-list>li>a:hover {
    color: black;
    background-color: #FFC400;
}


