
/* =============================================================== */
/* mypage 공통 부분 ====================까지 */
/* 아래부터 추가하세요. */
main {
    width: 1160px;
    /* height: 750px; */
    margin: 0 auto;
    padding: 0 20px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/* 첫번째 프로필 info 및 - 뒤에 뭐넣을까 */
main>div:nth-child(1){
    width: 100%;
    height: 250px;
    border-bottom: 3px solid rgb(33, 33, 33);
    /* border-bottom: 3px solid #FAE300; */
    margin: 30px 0 30px 0;
    display: flex;

}
main>div:nth-child(1)>section:nth-child(1){
    width: 50%;
    height: 100%;
    border-right: 3px solid rgb(33, 33, 33);
    /* border-right: 3px solid #FAE300; */
    padding: 20px;
    display: flex;
}
/* 프로필 이미지 영역 */
.profile-image-area{
    width: 40%;
    height: 100%;
}
.profile-image-area>div {
    width: 182px;
    height: 182px;
    /* border : 3px solid rgb(200, 200, 200); */
    border: 1px solid #FAE300;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position : relative;
}
#profile-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
/* 프로필 설정 정보 영역 */
.profile-info-area{
    width: 60%;
    height: 100%;
    /* border : 1px solid #ddd; */
}
.mypage-main-frame {
    width: 100%;
    height: 50px;

    display: flex;
    align-items: center;
    /* border-bottom : 2px solid rgb(100, 100, 100); */
}
.mypage-main-frame > * {
    font-size: 1rem;
    font-weight: bold;
}
.mypage-main-frame > label {
    width: 25%;
    font-size: 1rem;
}
.mypage-main-frame > span{
    width : 75%;
    font-weight: lighter;
}
/* ------------------------ 다가오는 예약 ------------------------------- */
.comemovie{
    width: 50%;
    height: 100%;
    /* 카드 형식으로 만들건데 border 어떻게 꾸밀지 고민해보기 */
    border: 1px solid red;
    padding: 15px 20px 20px 20px;
    /* margin: 30px; */
    display: flex;
    flex-direction: column;
    font-weight: bold;
}
.comemovie>div:nth-child(1){
    width: 100%;
    height: 15%;

    /* margin-bottom: 5px; */

    font-size: 1.5rem;
    color: #FAE300;
}
.comemovie>div:nth-child(2){
    width: 100%;
    height: 85%;
    padding-top: 1%;

    /* border: 1px solid red; */
    display: flex;
}
/* 다가오는 영화 포스터 */
.comemovie>div:nth-child(2)>div:nth-child(1){
    width: 30%;
    height: 100%;
    border: 1px solid #FAE300;
    border-radius: 5%;
}
.comemovie>div:nth-child(2)>div:nth-child(1)>a{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.comemovie>div:nth-child(2)>div:nth-child(1)>a>img{
    width: 155px;
    height: 173px;
    border-radius: 5%;
}
/* 다가오는 영화 정보 */
.comemovie>div:nth-child(2)>div:nth-child(2){
    width: 65%;
    height: 100%;

    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.comemovie>div:nth-child(2)>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    height: 15%;

    margin-bottom: 2%;
    /* border: 1px solid red; */
}
.comemovie>div:nth-child(2)>div:nth-child(2)>div:nth-child(2){
    width: 100%;
    height: 66%;

    display: flex;

}
.comemovie>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>ul:nth-child(1){
    width: 20%;
    height: 100%;

    font-weight: bold;
    /* border: 1px solid red; */

    /* margin: 20px 0 0 0; */
    /* border-top: 2px solid rgb(200, 200, 200); */
    /* border-top: 2px solid #FAE300; */
}
.comemovie>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>ul:nth-child(2){
    width: 80%;
    height: 100%;

    font-weight: lighter;
}
.comemovie>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>ul:nth-child(1)>li{
    height: 25%;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.comemovie>div:nth-child(2)>div:nth-child(2)>div:nth-child(2)>ul:nth-child(2)>li{
    height: 25%;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
}
.comemovie>div:nth-child(2)>div:nth-child(2)>div:nth-child(3){
    width: 100%;
    height: 15%;
    
    margin-top: 2%;
    /* border: 1px solid red; */
}
/* 예매 취소 버튼 */
#cancel-btn{
    width: 150px;
    height: 100%;
    background-color: #646464;
    border: 0;
    outline: 0;
    /* border: 1px solid rgb(200, 200, 200); */
    cursor: pointer;
    color: rgb(200, 200, 200);
    font-size: 1rem;
    /* font-weight: bold; */
    
    border-radius: 5px;
}
#cancel-btn:hover {
    color: #FAE300;
    background-color: rgb(44,44,44);
}
#change-btn{
    width: 150px;
    height: 100%;
    background-color: #646464;
    border: 0;
    outline: 0;
    /* border: 1px solid rgb(200, 200, 200); */
    cursor: pointer;
    color: rgb(200, 200, 200);
    font-size: 1rem;
    /* font-weight: bold; */
    margin-left: 10px;
    
    border-radius: 5px;
}
#change-btn:hover {
    color: #FAE300;
    background-color: rgb(44,44,44);
}


/* section2 리스트와 수정 페이지 후기 등등 기능 페이지 */
main>div:nth-child(2){
    width: 100%;
    height: 100%;
    border-top: 3px solid rgb(33, 33, 33);
    /* border-top: 3px solid #FAE300; */
    margin: 30px 0 30px 0;
    display: flex;

}
/* 사이드 css */
/* main>div:nth-child(2)>section:nth-child(1) */
.side-main {
    width: 25%;
    height: 100%;
    /* border-left: 3px solid rgb(200, 200, 200);
    border-bottom: 3px solid rgb(200, 200, 200);     */
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    color: #FAE300;
}
.list-group{
    width: 100%;
    margin: 20px 0 0 0;
    /* border-top: 2px solid rgb(200, 200, 200); */
    /* border-top: 2px solid #FAE300; */
}
.list-group > li{
    list-style: none;
    height: 60px;
    font-size: 1rem;
    /* margin: 10px 0 10px 0; */
}
.list-group > li > a{
    text-decoration: none;
    /* width: 150px; */
    height: 100%;

    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    /* padding-bottom: 10px; */

    background-color: rgb(33, 33, 33);
    /* border-bottom : 2px solid rgb(200, 200, 200); */
    /* border-bottom: 2px solid #FAE300; */
}
.list-group > li > a:hover{
    color: #FAE300;
    background-color: rgb(44, 44, 44);
    /* border-bottom : 2px solid #FAE300; */
}

/* main>div:nth-child(2)>section:nth-child(2)  */
.mypage-main{
    width: 75%;
    min-height: 435px;
    border-left: 3px solid rgb(33, 33, 33);
    /* border-left: 3px solid #FAE300; */
    padding: 20px;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    color: #FAE300;
}

/* form속 div class주던가 해서 정렬해야함 생각 좀 해보기 왜냐하면 페이지마다 보여지는 형식이 다름
그러니 어떻게 넣을건지 생각 좀 더 해보자!! */
form[name="myPage-form"]{
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* border-top: 3px solid rgb(200, 200, 200); */
    /* border-top: 2px solid #FAE300; */
}
/* 공통 끝 */
/* ====================================================================================== */
/* 정보 수정, 비밀번호 변경, 회원 탈퇴 등에 사용된 info변경할때 사용하는 frame */
.mypage-info-frame {
    width: 500px;
    height: 40px;
    margin-top: 5px;

    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}
.mypage-info-frame >label{
    display: block;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(200, 200, 200);
}
.mypage-info-frame>input{
    width: 100%;
    height: 100%;
    padding: 10px 5px 10px 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(66, 66, 66);
    border-radius: 5px;
    border: 0;
    outline: 0;
    color: rgb(200, 200, 200);
}
.mypage-info-frame>button {
    width: 30%;
    height: 100%;
    background-color: #646464;
    border: 0;
    outline: 0;
    /* border: 1px solid rgb(200, 200, 200); */
    cursor: pointer;
    color: rgb(200, 200, 200);
    font-size: 1rem;
    margin-left: 10px;
    border-radius: 5px;
}
#info-update-btn {
    width: 500px;
    height: 40px;
    padding: 10px;
    margin: 30px 0 10px 0;
    border: 0;
    outline: 0;

    font-size: 1rem;
    font-weight: bold;

    color: rgb(200, 200, 200);
    /* 뭔색하지 */
    background-color: #646464;
    border-radius: 5px;
    cursor: pointer;
}
#info-update-btn:hover{
    color: #FAE300;
    background-color: rgb(44, 44, 44);
}
button:hover {
    color: #FAE300;
    background-color: rgb(44, 44, 44);
}

/* ----------------------------------------------------------------- */
/* 탈퇴 session 템플릿 */
.agree-title{
    width: 500px;
    font-size: 1rem;
    display: flex;
    margin-left: 5px;
}
#secession-terms{
    width : 500px;
    height: 300px;
    border : 1px solid rgb(200, 200, 200);
    font-size : 0.8rem;
    margin: 5px 0 5px 0;

    /* 내용이 지정한 사이즈를 초과한 경우에 대한 속성 */
    overflow : auto; /* 초과한 방향의 스크롤을 자동 생성 */
}

/* ------------------------------------------------------------------- */
/* 내가 본 영화 페이지 css */
.mymovie{
    width: 700px;
    height: 250px;
    /* border: 1px solid red; */
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    font-size: 1rem;
    font-weight: bold;
}
.mymovie>div{
    width: 100%;
    height: 100%;
    /* padding-top: 1%; */

    /* border: 1px solid red; */
    display: flex;
}
/* 내가본 영화 포스터 */
.mymovie>div>div:nth-child(1){
    width: 25%;
    height: 100%;
    border: 1px solid #FAE300;
    border-radius: 5%;
}
.mymovie>div>div:nth-child(1)>a{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.mymovie>div>div:nth-child(1)>a>img{
    width: 165px;
    height: 210px;
    border-radius: 5%;
}
/* 내가본 영화 정보 */
.mymovie>div>div:nth-child(2){
    width: 65%;
    height: 100%;

    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    font-size: 1rem;
}
.mymovie>div>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    height: 15%;

    margin-bottom: 1%;

    display: flex;
    justify-content: space-between;
    
    /* border: 1px solid red; */
}
.mymovie>div>div:nth-child(2)>div:nth-child(2){
    width: 100%;
    height: 67%;

    display: flex;

}
.mymovie>div>div:nth-child(2)>div:nth-child(2)>ul:nth-child(1){
    width: 15%;
    height: 100%;
    margin-right: 10px;
    /* border: 1px solid red; */

    /* margin: 20px 0 0 0; */
    /* border-top: 2px solid rgb(200, 200, 200); */
    /* border-top: 2px solid #FAE300; */
}
.mymovie>div>div:nth-child(2)>div:nth-child(2)>ul:nth-child(2){
    width: 80%;
    height: 100%;
}
.mymovie>div>div:nth-child(2)>div:nth-child(2)>ul:nth-child(1)>li{
    height: 25%;
    list-style: none;
    display: flex;
    align-items: center;
}
.mymovie>div>div:nth-child(2)>div:nth-child(2)>ul:nth-child(2)>li{
    height: 25%;
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: lighter;
}
.mymovie>div>div:nth-child(2)>div:nth-child(3){
    width: 100%;
    height: 15%;
    
    margin-top: 2%;
    /* border: 1px solid red; */
}
/* 리뷰 남기러 가기 버튼 */
#goreview-btn{
    width: 250px;
    height: 100%;
    background-color: #646464;
    border: 0;
    outline: 0;
    /* border: 1px solid rgb(200, 200, 200); */
    cursor: pointer;
    color: rgb(200, 200, 200);
    font-size: 1rem;
    
    border-radius: 5px;
}
#goreview-btn:hover {
    color: #FAE300;
    background-color: rgb(55,55,55);
}
/* .listmore-btn{
    width: 700px;
    height: 40px;
    border-radius: 5px;
} */
#listmore-btn{
    width: 700px;
    height: 40px;
    background-color: #646464;
    border: 0;
    outline: 0;
    /* border: 1px solid rgb(200, 200, 200); */
    cursor: pointer;
    color: rgb(200, 200, 200);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#listmore-btn:hover {
    color: #FAE300;
    background-color: rgb(44,44,44);
}

/* 내가 쓴 리뷰 페이지 구동 ------------------------------------------------------------- */
.myreview{
    width: 700px;
    height: 250px;
    /* border: 1px solid red; */
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    font-size: 1rem;
    font-weight: bold;
}
.myreview>div{
    width: 100%;
    height: 100%;
    /* padding-top: 1%; */

    /* border: 1px solid red; */
    display: flex;
}
/* 내가본 영화 포스터 */
.myreview>div>div:nth-child(1){
    width: 25%;
    height: 100%;
    border: 1px solid #FAE300;
    border-radius: 5%;
}
.myreview>div>div:nth-child(1)>a{
    width: 100%;
    height: 100%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.myreview>div>div:nth-child(1)>a>img{
    width: 165px;
    height: 210px;
    border-radius: 5%;
}
/* 내가본 영화 정보 */
.myreview>div>div:nth-child(2){
    width: 65%;
    height: 100%;

    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: left;
    font-size: 1rem;
}
.myreview>div>div:nth-child(2)>div:nth-child(1){
    width: 100%;
    height: 15%;

    margin-bottom: 1%;

    display: flex;
    justify-content: space-between;
    
    /* border: 1px solid red; */
}
/* i태그 delete 버튼 */
.fa-regular{
    font-size: 1.5rem;
}
.fa-regular:hover{
    content: "\f057";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.5rem;
    /* margin-right: 10px; */
    color: #FAE300;
}

.myreview>div>div:nth-child(2)>div:nth-child(2){
    width: 100%;
    height: 33%;

    display: flex;
}
.myreview>div>div:nth-child(2)>div:nth-child(2)>ul:nth-child(1){
    width: 20%;
    height: 100%;
    margin-right: 10px;
    /* border: 1px solid red; */

    /* margin: 20px 0 0 0; */
    /* border-top: 2px solid rgb(200, 200, 200); */
    /* border-top: 2px solid #FAE300; */
}
.myreview>div>div:nth-child(2)>div:nth-child(2)>ul:nth-child(2){
    width: 80%;
    height: 100%;

    
}
.myreview>div>div:nth-child(2)>div:nth-child(2)>ul:nth-child(1)>li{
    height: 50%;
    list-style: none;
    display: flex;
    align-items: center;
}
.myreview>div>div:nth-child(2)>div:nth-child(2)>ul:nth-child(2)>li{
    height: 50%;
    list-style: none;
    display: flex;
    align-items: center;
    font-weight: lighter;
}
.myreview>div>div:nth-child(2)>div:nth-child(3){
    width: 100%;
    height: 33%;
    
    margin-top: 1%;
    font-size: 1rem;
    font-weight: lighter;
    /* border: 1px solid red; */
}
.myreview>div>div:nth-child(2)>div:nth-child(3)>p{
    width: 430px;
    height: 100%;

    /* 지정된 범위에 가면 자동 줄바꿈이 이뤄짐 개꿀 */
    white-space: normal;
    word-break: break-all;
    word-wrap: normal;
    
    /* border: 1px solid red; */
}
.myreview>div>div:nth-child(2)>div:nth-child(4){
    width: 100%;
    height: 15%;
    
    margin-top: 2%;
    /* border: 1px solid red; */
}
/* 리뷰 남기러 가기 버튼 */
#updatereview-btn{
    width: 250px;
    height: 100%;
    background-color: #646464;
    border: 0;
    outline: 0;
    /* border: 1px solid rgb(200, 200, 200); */
    cursor: pointer;
    color: rgb(200, 200, 200);
    font-size: 1rem;
    
    border-radius: 5px;
}
#updatereview-btn:hover {
    color: #FAE300;
    background-color: rgb(55,55,55);
}
/* .listmore-btn{
    width: 700px;
    height: 40px;
    border-radius: 5px;
} */
#listmore-btn{
    width: 700px;
    height: 40px;
    background-color: #646464;
    border: 0;
    outline: 0;
    /* border: 1px solid rgb(200, 200, 200); */
    cursor: pointer;
    color: rgb(200, 200, 200);
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#listmore-btn:hover {
    color: #FAE300;
    background-color: rgb(44,44,44);
}





