

/* =============================================================== */
/* 아래부터 추가하세요. */


/* sns 회원가입 */
.signUp-wrap {
    display: flex;
    justify-content: center;
    background-color: rgb(33, 33, 33);
}

.signUp-wrap>div:nth-child(1) {


    background-color: rgb(33, 33, 33);
    margin-top: 30px;
    margin-bottom: 30px;
}


.signUp-wrap>div:nth-child(1)>div:nth-child(1) {


    width: 400px;


}

.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) {

    margin: 100px 0px 100px 0px;
    width: 100%;
    height: 500px;
}




.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) p {
    display: flex;
    justify-content: center;
    font-size: 30px;
}




.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1)>div {

    padding-top: 50px;
    margin: 20px;
	display: flex;
    flex-direction: column;
}

.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) button {


    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 0;

    font-size: 18px;
    /* font-weight: bold; */

    color: #DEDEDE;

    background-color: #646464;
    border-radius: 5px;
    cursor: pointer;

}

.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) button:nth-child(2) {

    background-color: #FAE300;
}

.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) button:nth-child(3) {

    background-color: #03c75a;

}

.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) button:nth-child(1) a {

    color: white;

}

.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) button:nth-child(3) a {

    color: white;

}


.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) button:nth-child(4) a {

    color: white;

}


.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) button>a {

    color: black;

}

/* 
.singupWrap>button>a {

    color: black;
}

.singupWrap>button:nth-child(1)>a {
    color: white
}
 */



.signUp-wrap>div:nth-child(1)>div:nth-child(1)>div:nth-child(1) img {
    width: 30px;
    height: 30px;
}