main {
    width: 100%;
    padding-top: 50px;
}

.special_wrap {
    width: 1040px;
    padding: 0 30px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.special_wrap>div:nth-child(1) {
    height: 140px;
    margin-bottom: 50px;
}

.special_wrap>div:nth-child(1)>p {
    font-size: 3rem;
    font-weight: bolder;
}

.special_wrap>div:nth-child(1)>p:nth-child(2) {

    position: absolute;
    top: 50px;
    left: 56px;
}

.special {
    display: flex;
    flex-wrap: wrap;
}

.none{
    display: none;
}


.block{
    display: block;
}

.theater1 {
    width: 100%;
    height: 300px;
    border: 1px solid red;
    background-color: red;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.theater1-1 {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    transition: top 0.5s ease-in-out; /* 슬라이드 효과 시간과 타입을 설정합니다. */
    display: block;
}

.theater1:hover .theater1-1 {
    top: 0;
}

.theater2 {
    width: 30%;
    height: 300px;
    border: 1px solid red;
    
}

.theater3 {
    width: 70%;
    height: 300px;
    border: 1px solid red;
    margin-bottom: 50px;
}

.theater4 {
    width: 70%;
    height: 300px;
    border: 1px solid red;
}

.theater5 {
    width: 30%;
    height: 300px;
    border: 1px solid red;
 
}


.navBar:nth-child(2) > a:nth-child(1){
    color:rgb(255,196,0);
 }